/* Colors */
/* mixins */
/* grid */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.text-center {
  text-align: center; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.row {
  width: 87.6923%;
  margin: 0 auto;
  display: block; }

.row .row {
  width: 105.5%;
  margin: 0 -1.25em 0 -1.25em; }

.row .row.outset-row {
  width: 150%;
  margin: 0 -25% 0 -25%; }

.column {
  display: block;
  float: left;
  padding: 0 1.25em; }

.one-quarter {
  width: 25%; }

.one-third {
  width: 33.3333%; }

.one-half {
  width: 50%; }

.two-thirds {
  width: 66.6667%; }

.three-quarters {
  width: 75%; }

.full {
  display: block;
  width: 100%;
  clear: both; }

.push-1 {
  margin-left: 8.3333%; }

.push-2 {
  margin-left: 16.6667%; }

/* basics */
hmtl, body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  color: #332f38;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2308vw; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

input, select, textarea, button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2308vw; }

img {
  max-width: 100%; }

a {
  color: #ec7113; }

select {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0.5em; }

img.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.article-img-left {
  float: left;
  width: 50%;
  margin: 1em 2em 1em 0; }

.article-img-right {
  float: right;
  width: 50%;
  margin: 1em 0 1em 2em; }

.button {
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  border-radius: 0.125rem;
  text-decoration: none;
  cursor: pointer; }

.flat-button {
  color: #5b5a5c;
  background-color: transparent;
  transition: all 0.3s !important; }

.flat-button:hover {
  background-color: rgba(91, 90, 92, 0.05); }

.flat-button:active {
  background-color: rgba(91, 90, 92, 0.1); }

.flat-button.primary {
  color: #ec7113 !important; }

.raised-button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 5px rgba(0, 0, 0, 0.12);
  background: #9d9d9d;
  color: #fff;
  margin-right: 2em;
  min-width: 10em;
  text-align: center;
  transition: all 0.3s !important; }

.raised-button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24), 0 3px 10px rgba(0, 0, 0, 0.12); }

.raised-button.primary {
  background: #ec7113; }

input[type="text"], input[type="email"], textarea {
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0 0 0.5em 0;
  border: 1px solid #9d9d9d;
  border-width: 0 0 1px 0;
  display: block;
  background: transparent;
  width: 100%;
  height: 3em; }

textarea {
  width: 100%;
  transition: height 0.3s; }

input:focus, textarea:focus {
  border-color: #3c7962;
  outline: none; }

label {
  font-size: 0.875em;
  color: #5b5a5c;
  display: block;
  margin-top: 2rem; }

button[type="submit"] {
  margin-top: 2em; }

form {
  margin-bottom: 3.5em; }

.slider-module {
  height: 1%;
  overflow: hidden;
  padding: 0;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 0.125em;
  margin-top: 2em;
  background: #fff; }
  .slider-module p.intro {
    padding-left: 1em;
    padding-right: 1em; }
  .slider-module .buttons {
    background: #fff;
    border-radius: 50%;
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 40%;
    color: #9d9d9d;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    font-size: 1.25em;
    z-index: 99;
    opacity: 0.8;
    transition: opacity 0.3s; }
  .slider-module .buttons:hover {
    opacity: 1; }
  .slider-module .prev {
    left: 0.5em; }
  .slider-module .next {
    right: 0.5em; }
  .slider-module .disable {
    visibility: hidden; }
  .slider-module .viewport {
    float: left;
    width: 44.55em;
    height: 20em;
    overflow: hidden;
    position: relative; }
  .slider-module ul {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 44.55em; }
    .slider-module ul li {
      float: left;
      height: 20em;
      width: 44.55em;
      margin-right: 1em;
      position: relative;
      background: #fff; }
      .slider-module ul li .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem;
        color: #fff;
        background: rgba(51, 47, 56, 0.8);
        font-size: 0.875em;
        line-height: 1.6; }
      .slider-module ul li blockquote {
        padding: 0 6em;
        margin: 0;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        background: #fff;
        font-size: 1em;
        line-height: 1.5;
        color: #332f38;
        letter-spacing: 0.1em; }
        .slider-module ul li blockquote cite {
          display: block;
          position: relative;
          padding-left: 6em;
          padding-top: 1em; }
          .slider-module ul li blockquote cite img {
            width: 5em;
            height: 5em;
            overflow: hidden;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0 !important; }

#cp-slider .viewport {
  height: 25em;
  background: #fff; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999;
  display: none; }
  .overlay .modal {
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: 100%;
    background: #fff;
    padding: 3em; }
  .overlay .close-modal {
    position: absolute;
    top: 2em;
    right: 2em;
    color: #fff;
    font-size: 2em; }

.news-single .image-left {
  float: left;
  margin: 0.5em 1.5em 1em 0; }
.news-single .image-right {
  float: right;
  margin: 0.5em 0 1em 1.5em; }

/* header */
#sitehead {
  background: #332f38;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  height: 3.4375em;
  overflow: hidden;
  width: 100%;
  color: #f3f3f3; }
  #sitehead h1 {
    font-size: 0.8125em;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 3.4375rem; }
    #sitehead h1 a {
      color: #e6c7a4;
      text-decoration: none;
      transition: color 0.3s; }
    #sitehead h1 a:hover {
      color: #f3f3f3; }
  #sitehead nav {
    display: block;
    margin: 0; }
    #sitehead nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-indent: 0;
      text-align: right; }
      #sitehead nav ul li {
        display: inline-block;
        margin-left: 2em; }
        #sitehead nav ul li a {
          font-size: 0.8125em;
          margin: 0;
          font-weight: 400;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          line-height: 3.4375rem;
          text-decoration: none;
          color: #e6c7a4;
          transition: color 0.3s; }
        #sitehead nav ul li a:hover {
          color: #ec7113; }

#mainhead {
  background: #5b5a5c;
  -webkit-box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 101;
  top: 0;
  left: 6.1538%;
  height: 3.4375em;
  margin-left: -3.4375em;
  overflow: hidden; }
  #mainhead h1 {
    display: block;
    float: left;
    margin: 0;
    font-size: 1em; }
    #mainhead h1 a {
      display: inline-block;
      text-indent: -9999px;
      width: 3.4375em;
      height: 3.4375em;
      background: url(../img/logo-sm-grey.png) center center no-repeat #3c7962;
      background-size: cover; }
  #mainhead nav {
    width: 34em;
    overflow: hidden;
    transition: width 0.5s; }
    #mainhead nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-indent: 0; }
      #mainhead nav ul li {
        display: inline-block; }
        #mainhead nav ul li a {
          display: inline-block;
          font-size: 0.8125em;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          padding: 1.5385em;
          text-decoration: none;
          color: #fff;
          font-weight: 300; }
        #mainhead nav ul li a:hover, #mainhead nav ul li a.current-page {
          background: #423f41; }
  #mainhead nav.collapsed {
    width: 0; }

#mainhead:hover nav {
  width: 34em; }

.home-intro-section {
  position: relative;
  display: block;
  height: auto; }
  .home-intro-section p, .home-intro-section h2 {
    z-index: 2;
    color: #fff;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    position: relative; }

/* page headers */
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #332f38;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
  filter: alpha(opacity=50);
  zoom: 1;
  z-index: 1; }

.page-header {
  padding-top: 13.125em;
  position: relative;
  min-height: 25em; }
  .page-header h2 {
    margin: 0;
    font-size: 2.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    position: relative;
    z-index: 2; }
    .page-header h2 small {
      font-size: 60%;
      opacity: 0.8; }
  .page-header .floating-page-nav {
    text-align: right;
    position: relative;
    z-index: 2;
    transition: margin-top 0.5s; }
    .page-header .floating-page-nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .page-header .floating-page-nav ul li {
        margin: 0.7813em 0; }
        .page-header .floating-page-nav ul li a {
          display: block;
          font-size: 1.25em;
          color: #fff;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          padding: 0.25em 1em 0.25em 0;
          text-decoration: none;
          margin-right: -1em;
          border-right: 0.125em solid transparent;
          transition: all 0.5s; }
        .page-header .floating-page-nav ul li a:hover, .page-header .floating-page-nav ul li a.current {
          border-color: #fff; }
  .page-header .floating-page-nav.floating {
    position: fixed;
    top: 1em !important;
    right: 6.1538%;
    margin-right: 1.25em; }
    .page-header .floating-page-nav.floating ul li a {
      color: #332f38; }
    .page-header .floating-page-nav.floating ul li a:hover, .page-header .floating-page-nav.floating ul li a.current {
      border-color: #332f38; }

#about {
  background: url(../img/about-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#approach {
  background: url(../img/approach-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#projects {
  background: url(../img/projects-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#home {
  background: url(../img/home-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#connect {
  background: url(../img/connect-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#news {
  background: url(../img/news-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

/* home content */
.home-content {
  padding-top: 3.75em; }
  .home-content p {
    font-size: 1.25em;
    line-height: 1.6;
    margin-bottom: 2em; }
  .home-content h3 {
    font-size: 2.25em;
    font-weight: 400;
    margin: 0; }
  .home-content h2 {
    font-size: 1.75em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0; }
  .home-content .card {
    margin-bottom: 3.5em; }
  .home-content .intro {
    font-size: 1.75em;
    line-height: 1.8;
    color: #9d9d9d;
    margin-bottom: 0; }
  .home-content .home-section {
    padding-bottom: 3.75em;
    margin-bottom: 3.75em;
    border-bottom: 1px solid #9d9d9d; }
    .home-content .home-section .home-project-link a {
      margin-bottom: 4.5em;
      display: inline-block; }
    .home-content .home-section .targettable {
      padding-bottom: 3.75em; }
    .home-content .home-section .targettable:last-child {
      padding-bottom: 0; }
    .home-content .home-section .project-intro {
      padding-bottom: 0; }
    .home-content .home-section .spacer {
      margin: 3em auto 6em auto;
      display: block;
      text-align: center; }
    .home-content .home-section .project-intro img {
      width: 80%;
      margin-left: 10%;
      margin-top: -1em;
      padding: 0.25em;
      background: #fff;
      -webkit-box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2); }
  .home-content .home-section:last-child {
    border-bottom: none; }
  .home-content a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 80%; }
  .home-content a:hover {
    color: #332f38; }

/* page content */
.page-content {
  padding-top: 3.75em;
  background: url(../img/page-bg.jpg) center center repeat-y;
  background-size: contain; }
  .page-content h3 {
    font-size: 1.75em;
    font-weight: 400;
    margin: 0; }
  .page-content .intro {
    font-size: 1.25em;
    line-height: 1.5;
    color: #9d9d9d; }
  .page-content p {
    font-size: 1em;
    line-height: 1.8; }
  .page-content .scroll-target {
    padding-bottom: 3.75em;
    margin-bottom: 3.75em;
    border-bottom: 1px solid #9d9d9d;
    position: relative; }
  .page-content .scroll-target:last-child {
    border-bottom: none; }
  .page-content .home-section {
    padding-bottom: 3.75em;
    margin-bottom: 3.75em;
    border-bottom: 1px solid #9d9d9d; }
    .page-content .home-section .targettable {
      padding-bottom: 7.5em; }
    .page-content .home-section .targettable:last-child {
      padding-bottom: 0; }
    .page-content .home-section iframe {
      -webkit-box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2); }
  .page-content .news-intro {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 2em;
    color: #9d9d9d; }
    .page-content .news-intro a {
      color: #9d9d9d;
      text-decoration: none; }
    .page-content .news-intro .current {
      color: #5b5a5c; }
  .page-content .news-item {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc; }
    .page-content .news-item iframe {
      height: 25.29em;
      width: 100%;
      -webkit-box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0.5em 0.75em 0 rgba(0, 0, 0, 0.2);
      margin: 1em 0; }
    .page-content .news-item h3 {
      margin: 0.25em 0 0.5em 0;
      font-size: 1em;
      font-weight: 700; }
      .page-content .news-item h3 a {
        text-decoration: none;
        color: #332f38;
        transition: color 0.3s;
        font-size: 1.75em; }
    .page-content .news-item h3 a:hover {
      color: #5b5a5c; }
    .page-content .news-item .premise, .page-content .news-item .byline {
      display: block;
      color: #9d9d9d;
      font-size: 0.875em;
      font-weight: 300;
      clear: both; }
    .page-content .news-item .short-desc {
      font-size: 1.25em;
      font-weight: 300;
      margin: 0 0 0.5em 0;
      line-height: 1.2;
      color: #5b5a5c; }
    .page-content .news-item .short-desc.has-thumbnail {
      padding-left: 6em; }
      .page-content .news-item .short-desc.has-thumbnail .thumbnail {
        float: left;
        margin: 0 1.5em 0.5em -6em;
        width: 6em;
        padding: 0.2em;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 5px rgba(0, 0, 0, 0.12);
        border-radius: 0.125em; }
  .page-content .news-item:last-child {
    border: none; }
  .page-content .blog-headline {
    margin-top: 2em; }
    .page-content .blog-headline h3 {
      margin: 0 0 0.25em 0;
      font-size: 1em; }
      .page-content .blog-headline h3 a {
        color: #332f38;
        text-decoration: none;
        font-weight: 700; }
    .page-content .blog-headline .read-more {
      display: block;
      color: #ec7113;
      text-decoration: none;
      font-size: 0.6em;
      text-transform: uppercase;
      letter-spacing: 0.1em; }

#mission img, #mission iframe, #founders img, #founders iframe {
  padding: 0.25em;
  background: #fff;
  -webkit-box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.2); }

.inline-tabs {
  display: inline-block;
  color: #9d9d9d; }
  .inline-tabs .tab-link {
    color: #5b5a5c;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    display: inline-block;
    padding: 0 0.5em 0.25em 0.5em;
    margin: 0 0.25em; }
  .inline-tabs .tab-link.current-tab {
    border-color: #ec7113; }

.tab-content {
  display: none; }

#team fieldset, #advisory-board fieldset, #board fieldset {
  border: none;
  display: inline-block;
  margin: 2em 1em 0 0;
  padding: 0; }
#team label, #team select, #advisory-board label, #advisory-board select, #board label, #board select {
  display: inline-block; }
#team .column, #advisory-board .column, #board .column {
  transition: all 0.5s;
  position: relative; }
  #team .column .overlay, #advisory-board .column .overlay, #board .column .overlay {
    position: absolute;
    top: 0;
    left: 1.25em;
    display: none;
    z-index: 99; }
    #team .column .overlay .container, #advisory-board .column .overlay .container, #board .column .overlay .container {
      width: 9.2em;
      max-width: 1000em; }
    #team .column .overlay .description, #advisory-board .column .overlay .description, #board .column .overlay .description {
      display: block;
      width: 0;
      overflow: hidden;
      height: 12em;
      background: #fff;
      margin-left: 12em; }
  #team .column .container, #advisory-board .column .container, #board .column .container {
    position: relative;
    margin-top: 2em;
    max-width: 9.2em; }
    #team .column .container img, #advisory-board .column .container img, #board .column .container img {
      width: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 5px rgba(0, 0, 0, 0.12);
      transition: all 0.3s; }
    #team .column .container img.active, #advisory-board .column .container img.active, #board .column .container img.active {
      box-shadow: 0 6px 9px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19); }
    #team .column .container .team-link, #advisory-board .column .container .team-link, #board .column .container .team-link {
      position: absolute;
      top: 0;
      left: 0;
      background: #ec7113;
      color: #fff;
      text-decoration: none;
      display: block;
      text-align: center;
      width: 100%;
      height: 9.25em;
      overflow: hidden;
      padding-top: 3.5em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
      filter: alpha(opacity=0);
      zoom: 1;
      transition: opacity 0.4s; }
    #team .column .container .team-link:hover, #advisory-board .column .container .team-link:hover, #board .column .container .team-link:hover {
      opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 80 ")";
      filter: alpha(opacity=80);
      zoom: 1; }
  #team .column .description, #advisory-board .column .description, #board .column .description {
    display: none;
    float: right;
    width: 70%;
    margin-top: -10em; }
#team .full .container, #advisory-board .full .container, #board .full .container {
  width: 25%;
  display: inline-block;
  padding-right: 2.5em;
  transition: all 0.5s; }
#team .full .description, #advisory-board .full .description, #board .full .description {
  width: 74%;
  display: inline-block; }

.mix {
  display: none;
  margin-top: 1.5em; }

blockquote {
  font-size: 1.25em;
  font-style: italic;
  margin: 0;
  line-height: 1.8;
  color: #5b5a5c;
  margin-top: 1.5em; }
  blockquote cite {
    display: block;
    font-style: normal;
    color: #9d9d9d;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 1em; }

.principle-slide {
  margin: 3.75em 0; }
  .principle-slide h3 {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1.4em; }

.card {
  background: #fff;
  margin: 0.25em -1em;
  padding-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 0.125em; }
  .card .title-byline {
    display: block;
    padding: 1rem; }
    .card .title-byline img {
      float: left;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      margin-right: 1rem; }
    .card .title-byline h4.title {
      color: #332f38;
      font-size: 0.875em;
      margin: 0.5em 0 0 0;
      font-weight: 400; }
    .card .title-byline h4.subtitle {
      color: #9d9d9d;
      font-size: 0.875em;
      margin: 0;
      font-weight: 400; }
  .card .media-area {
    height: 12.5em;
    overflow: hidden;
    background: #ec7113;
    position: relative; }
    .card .media-area img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
    .card .media-area h3 {
      font-size: 1.5em;
      font-weight: 400;
      color: #fff;
      margin: 0;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      z-index: 2;
      letter-spacing: 0.05em;
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.48);
      text-transform: uppercase; }
  .card .media-area.beige-media {
    background: #f3f3f3;
    border-right: 1px solid #9d9d9d; }
  .card p {
    margin: 1rem;
    font-size: 0.875em;
    line-height: 1.6; }
  .card .action-area {
    margin-left: 1em; }

.news-card p {
  height: 7em; }

.card-left {
  padding-bottom: 0;
  margin-bottom: 0.25em; }
  .card-left .media-area {
    width: 14em;
    height: 14em;
    float: left;
    margin-right: 1rem; }
    .card-left .media-area h3 {
      font-size: 1em; }
    .card-left .media-area img {
      max-height: 100%; }
  .card-left .video-media-area {
    height: 8.67em; }

.card-right {
  padding-bottom: 0;
  margin-bottom: 0.25em; }
  .card-right .media-area {
    width: 14em;
    height: 14em;
    float: right;
    margin-left: 1rem; }
    .card-right .media-area h3 {
      font-size: 1em; }
    .card-right .media-area img {
      max-height: 100%; }
  .card-right .video-media-area {
    height: 8.67em; }

/* dividers */
.link-divider {
  padding: 2.5em 0;
  margin-bottom: 2.5em;
  background: #332f38;
  color: #fff; }
  .link-divider p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8125em; }
    .link-divider p a {
      color: #3c7962;
      text-decoration: none;
      padding-bottom: 0.25em;
      border-bottom: 1px solid #3c7962; }

.project-link {
  margin-bottom: 0;
  margin-top: 2em; }

/* projects */
.project-content {
  padding-top: 3.75em; }
  .project-content .project-result {
    padding-bottom: 3.75em;
    margin-bottom: 3.75em;
    border-bottom: 1px solid #9d9d9d; }
  .project-content .project-description {
    padding-top: 0.625em;
    position: relative; }
    .project-content .project-description h3 {
      font-size: 1.75em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 0; }
    .project-content .project-description .subtitle {
      font-size: 1.25em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #9d9d9d;
      margin: 0;
      line-height: 1.5; }
    .project-content .project-description p {
      font-size: 1.25em;
      line-height: 1.5;
      margin: 2em 0 0 0; }
    .project-content .project-description iframe {
      margin: 2em 0 0 0; }
    .project-content .project-description #typed-cursor {
      display: none; }
    .project-content .project-description .learn-more {
      position: absolute;
      right: 0;
      bottom: 0.625em;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      border-radius: 0.25em;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      display: block;
      background: #ec7113;
      width: 18.8462em;
      padding: 1em 0;
      font-size: 0.8125em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #fff;
      text-decoration: none;
      text-align: center; }
  .project-content .at-a-glance {
    padding-top: 6.125em; }
    .project-content .at-a-glance ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-indent: 0; }
      .project-content .at-a-glance ul li {
        font-size: 0.8125em;
        line-height: 1.6154em;
        margin-bottom: 1.6154em;
        position: relative; }
      .project-content .at-a-glance ul li:before {
        content: '\f00c';
        position: absolute;
        font-family: FontAwesome;
        top: 0em;
        left: -2em;
        height: 1em;
        width: 0;
        color: #9d9d9d;
        display: block; }
  .project-content .project-quotes {
    background: #fff;
    margin: 2.5em 0 0 0;
    padding: 2.5em 0; }
    .project-content .project-quotes blockquote {
      margin: 0;
      padding: 0;
      font-size: 1em;
      line-height: 1.5;
      color: #332f38;
      letter-spacing: 0.1em; }
      .project-content .project-quotes blockquote cite {
        display: block;
        position: relative;
        padding-left: 4em; }
        .project-content .project-quotes blockquote cite img {
          width: 3em;
          height: 3em;
          overflow: hidden;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0; }

/* footer */
#mainfoot {
  background: #332f38;
  padding: 3em 0;
  color: #fff; }
  #mainfoot h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.875em;
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #9d9d9d; }
  #mainfoot ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0; }
    #mainfoot ul li {
      display: block;
      margin-top: 1em; }
      #mainfoot ul li a {
        color: #fff;
        text-decoration: none; }
  #mainfoot .fa {
    margin: 1em 1em 1em 0; }
  #mainfoot .tweet p {
    margin: 0;
    font-size: 0.75em; }
    #mainfoot .tweet p .timestamp {
      display: block;
      color: #9d9d9d; }
  #mainfoot form {
    margin-bottom: 1em; }
  #mainfoot label {
    display: block;
    margin: 1em 0 0.5em 0; }
  #mainfoot input {
    padding: 0.5em;
    font-size: 0.75em;
    background: #fff;
    border: none;
    width: 100%; }

/* animation classes */
.in-from-left, .in-from-right {
  position: relative;
  opacity: 0;
  transition: left 0.5s ease, right 0.5s ease, top 0.5s, opacity 0.8s; }

.in-from-left {
  left: -5em;
  top: 4em; }

.in-from-right {
  right: -5em;
  top: 4em; }

.in-from-left h3, .in-from-right h3 {
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  margin: 0; }

.visible-now .in-from-left, .visible-now .in-from-right {
  opacity: 1; }

.visible-now .in-from-left {
  left: 0;
  top: 0; }

.visible-now .in-from-right {
  right: 0;
  top: 0; }

#slider1 {
  height: 1%;
  overflow: hidden;
  padding: 0;
  position: relative;
  margin-top: 3.75em; }

#slider1 .viewport {
  float: left;
  width: 46em;
  height: 18em;
  overflow: hidden;
  position: relative; }

#slider1 .buttons {
  background: #C01313;
  border-radius: 35px;
  display: block;
  margin: 30px 10px 0 0;
  float: left;
  width: 35px;
  height: 35px;
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
  top: 50%;
  margin-top: -55px; }

#slider1 .next {
  right: 0; }

#slider1 .prev {
  left: 0; }

#slider1 .buttons:hover {
  color: #C01313;
  background: #fff; }

#slider1 .disable {
  visibility: hidden; }

#slider1 .overview {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 45em;
  left: 0;
  top: 0; }

#slider1 .overview li {
  float: left;
  margin: 0;
  padding: 0 1em;
  height: 18em;
  border: none;
  width: 44em; }
