---
title: Architecting the Future -- Key Note
published: true
date: 2014-02-27 06:33
slug: /architecting-the-future
tags: [Michael Ben Eli,video,design,Buckminster Fuller]
category: notes
---
<p>Michael Ben Eli discusses the renaissance of the concept of "design" and how all aspects of human activity are manifestations of a design process and what that implies about our role as human beings on the planet.</p>
<iframe src="//player.vimeo.com/video/12808820?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>On June 3, 2010, the Buckminster Fuller Institute hosted "Architecting the Future" a day long gathering, as part of the 2010 Buckminster Fuller Challenge events in Washington DC.</p>