---
layout: news-single
title: First Group of Fellows Have Been Selected
subtitle:
shortdesc:
has-header: 0
published: true
date: 2014-09-01 06:33
author: Lee Frankel-Goldwater
slug: /first-fellows
tags: [Michael Ben Eli,video,design,Buckminster Fuller]
classes: "gsfnews all"
category: notes
premise: "Updates from the Field: Global Sustainability Fellows"
featured: 0
---
<p>It is our honor to announce that the first cohort of Global Sustainability Fellows has been selected, with representation from five continents. By the mid-night application closing deadline, the program received applications from 20 countries, including: Australia, Canada, Dominican Republic, Ethiopia, Germany, Hungary, India, Ireland, Israel, Kenya, Mexico, Netherlands, Nigeria, Norway, Peru, Philippines, Portugal, Sweden, Switzerland, and the US.</p>
<p>Quality of the application is such that evaluation and selection for the 20 spots we can offer was a tough process. All candidates were strong, and it was an honor to read about their unique backgrounds. We are looking forward to an amazing program and will continue to update everyone here on the GSF Blog. If you applied and did not get in, or missed the deadline, we urge you to try again next year and keep up with the GSF as we lead our first Summer of this new initiative.</p>
<p>Fondly,<br>GSF Team</p>