---
layout: news-single
title: GSF Pilot Session
subtitle: Week 1 - Farms, Theory, and Some Chocolate
shortdesc: The Global Sustainability Fellows have arrived from all over the world, an amazing set of 20 students.
has-header: 1
header-img: "../assets/img/blog/pilotsession1.jpg"
author: Lee Frankel-Goldwater
published: true
date: 2014-09-21 06:33
slug: /gsf-pilot-session
tags: [Michael Ben Eli,video,design,Buckminster Fuller]
classes: "gsfnews all"
category: notes
premise: "Updates from the Field: Global Sustainability Fellows"
featured: 0
---
<p class="intro">The Global Sustainability Fellows have arrived from all over the world, an amazing set of 20 students. The week started with an evening orientation session and dinner, where students learned about the homestay experience they would be jumping into the very next day. Along the early morning bus ride to Limón Province, we were caught in a mile-long traffic jam due to a worker strike, which ended up being an early bonding experience for the group, who have proven themselves to be flexible and open to the variety of new experiences encountered so far.</p>
<img class="image-left" src="/assets/img/blog/pilotsession2.jpg">
<p>With a few hours delay, the students began their homestay, while the faculty returned to EARTH Campus in Limón to finalize the next week’s theory sessions. The students returned the next day lit up by their short, but meaningful journey. In the wrap-up session that followed, each homestay group shared a bit of what they learned, as one of their tasks was to openly look at their farm host’s living and work environments, and ponder ways that they might potentially assist.</p>
<p>One group did more than just observed, but spent the night working on new chocolate products and bio-degradable packaging with their hosts, who subsist on cacao farming. During the session they shared some of these tasty chocolates with fellows and faculty and later in the week outlined an entire system of production that might be shared with their hosts to aid in their business growth.</p>
<p>This is a microcosmic example of the possibilities and insights that have arisen during this pilot session. During the course of a four day theory sequence with Dr. Ben-Eli and Professors Schwaninger and Amadei, students wrestled some very large questions in a group context, without any direct limitations placed on the scope of their solutions. These topics included: "Small Steps to Sustainability: Creating a Sustainable Agriculture System for Finca Argentina, and "What is the Place of the Spiritual Dimension in the Lab's Signature Approach to Sustainability. All final presentations displayed the character of the outstanding group.</p>
<img class="image-right" src="/assets/img/blog/pilotsession3.jpg">
<p>After tours of the EARTH campus banana plantation, and braving a fair amount of Costa Rican rain, the group took to the road to begin the Eco-Leadership portion of the journey. Led by Dr. BK Singh of EARTH University, we visited an organic pineapple plantation as well as Eco-Termales, a family owned and operated business offering food and hot spring services to locals and tourists. The land and business demonstrates a fully interconnected system with a bio-digestor that provides 50% of the business’s gas needs, a constructed wetland, and a waste composting site, as well as small dairy and full restaurant. We toured the grounds, and met the family matriarch, who we were told is "the spirit behind the entire venture," enjoying one of the tastiest dinners of the trip, which she had prepared herself.</p>
<img class="image-left" src="/assets/img/blog/pilotsession4.jpg">
<p>The following early morning we took a cloud forest walk on suspension bridges, bringing us face to face with the upper level of the forest canopy. The trail exists on grounds conserved by local eco-tourism businesses. We then continued on the bus to the other side of the mountains, greeted by a brilliant sunset. EARTH La Flor is in Guanacaste, a much drier climate than Limon. The Fellows are now entering the second stage of the program, with a week of community development activities to come. The students will be engaging with a local community called Martina Bustos, and working with community members to create a Comprehensive Sustainability Plan, which will be presented to local officials and stakeholders at week's end.</p>
<img class="image-right" src="/assets/img/blog/pilotsession5.jpg">
<p>It’s an ambitious venture, with much to learn and discover. I, for one, am excited to see what emerges.</p>
<p>From Costa Rica,<br>Lee</p>
<cite>(photos by Yam Aisner)</cite>