---
layout: news-single
title: The Lab Website Gets a Makeover
subtitle:
shortdesc: As you may have noticed, The Lab's website has gone through an incredible metamorphosis, thanks to the efforts of our Lab staff and our designers, Ashley Quinn and Andy Gillette of <a target="_blank" href="http://welessthanthree.com">We Less Than Three</a>.
has-header: 0
published: true
date: 2014-09-11 06:33
author: Arielle Angel
slug: /lab-makeover
tags: [Michael Ben Eli,video,design,Buckminster Fuller]
classes: "lnews all"
category: notes
premise: "The Sustainability Lab Notes"
featured: 1
---
<p class="intro">As you may have noticed, The Lab's website has gone through an incredible metamorphosis, thanks to the efforts of our Lab staff and our designers, Ashley Quinn and Andy Gillette of <a target="_blank" href="http://welessthanthree.com">We Less Than Three</a>.</p>
<img src="../assets/img/labweb.jpg"><br>
<cite>The Lab Team and We Less Than Three, at work</cite>
<p>We're confident that this new iteration tells The Lab's story in a clearer, more dynamic and more user-friendly fashion. Take a look around, and if you feel so inclined, <a href="#">tell us what you think</a>.</p>