---
layout: news-single
title: Photography Workshop at Wadi Attir
subtitle:
shortdesc:
has-header: 1
header-img: "../assets/img/blog/PhotoWorkshop1.jpg"
published: true
date: 2014-08-21 06:33
author: Arielle Angel
slug: /photo-workshop
tags: [Michael Ben Eli,video,design,Buckminster Fuller]
classes: "wanews all"
category: notes
premise: "Updates from the Field: Wadi Attir"
featured: 0
---
<p class="intro">Last week, the new Lab Intern, Film and TV Editor <a href="#">Yam Aizner</a>, visited Project Wadi Attir to give a photography workshop to the members of the cooperative. This renewed confidence with the camera will be invaluable as they continue to tell their stories and put them out in the world.</p>
<img src="/assets/img/blog/PhotoWorkshop1.jpg">
<p>"Of course, learning photography takes more than one session, but everyone learned some practical tips for photographing the types of subjects that are common at Wadi Attir," Yam said.</p>
<img src="/assets/img/blog/PhotoWorkshop2.JPG">
<p>"We learned about how to photograph plants and open space, how to focus the picture and how to deal with outdoor lighting. Everyone was really interested and asked a lot of questions! said Project Member <a href="#">Rawan Nabbari</a>.
<img src="/assets/img/blog/PhotoWorkshop3.JPG">
<p>Below, you can see <a href="#">Ali Alhawashla</a>, Director of the Medicinal Plants Initiative, experimenting with photographing plants in the field. This will be a particularly important skill for Ali, as he is currently compiling his original data concerning traditional Bedouin uses of medicinal plants, their practical applications, and the outstanding characteristics of each type of plant for publication. This process has required Ali to compare data on each plant, identify overlapping uses, evaluate treatment effectiveness, and summarize his findings.</p>
<img src="/assets/img/blog/PhotoWorkshop4.JPG">
<p>During the workshop, Yam also had a chance to photograph the site, just before construction begins on the buildings. Check out the progress of the medicinal plants!</p>
<img src="/assets/img/blog/PhotoWorkshop5.JPG">
<p>Yam also managed to spot a fox, part of a trend towards growing biodiversity on the project site.</p>
<img src="/assets/img/blog/PhotoWorkshop6.jpg">