---
layout: news-single
title: Sustainability Prize Renewed until 2018!
subtitle:
shortdesc: 
has-header: 0
header-img:
published: true
date: 2014-08-11 06:33
author: Arielle Angel
slug: /sus-prize-renewed
tags: [Michael Ben Eli,video,design,Buckminster Fuller]
classes: "spnews all"
category: notes
premise: "The Sustainability Prize"
featured: 0
---
<p class="intro">Thanks to the generosity of donors Joshua Arnow and Ivor Freeman, The Sustainability Laboratory will continue The Sustainability Prize Program for another five years, through 2018. This represents another $50,000 investment in EARTH students and their ideas for improving the lives of people in Costa Rica and in students’ hometowns across Latin America, the Caribbean and Africa.</p>

					<p>"Entrepreneurship is scary at the best of times; to create a sustainable enterprise is more so. This is why I support the Sustainability Prize: to encourage and reward those who have the courage to make the effort," said Mr. Freeman.</p>

					<p>Over the past five years, the Prize Program has become an essential part of EARTH’s curriculum, and a key, motivating factor in the quality and ambition of senior students’ graduation projects.</p>

					<p>"The existence of this prize is a concrete demonstration to our students that they are not alone in their deep concern about the future of our planet and that there are people and organizations in the world who share their desire to seek innovative and constructive solutions to the environmental, social, economic and spiritual challenges facing us," said EARTH Provost Daniel Sherrard.</p>

					<p>The Prize Program will continue to be led jointly by Dr. Michael Ben-Eli of The Sustainability Laboratory and Dr. Irene Alvarado Van der Laat of EARTH University. A winner for 2014 will be chosen later this year.</p>

					<img src="/assets/img/blog/PrizeDonor.jpg"> 
					<cite>Sustainability Prize Benefactor Joshua Arnow with 2013 Prizewinner Maria del Rosario Chavez Lazarte.</cite>