---
layout: news-single
title: "The Travel Dilemma: Flying to a Sustainability Program?"
subtitle:
shortdesc: 
has-header: 1
header-img: "../assets/img/blog/traveldilemma.jpg"
published: true
date: 2014-08-01 06:33
author: Lee Frankel-Goldwater
slug: /travel-dillema
tags: [Michael Ben Eli,video,design,Buckminster Fuller]
classes: "gsfnews all"
category: notes
premise: "Updates from the Field: Global Sustainability Fellows"
featured: 0
---
<p class="intro">We have now closed our application window and are in the thick of the review process. We are so excited about the strong crop of applicants! Accepted applicants will be notified in late April/early May, and will soon have to make their travel arrangements. Apropos, we wanted to share a conversation we had with a student of sustainability who decided not to apply to the GSF, on principle, since accepted applicants would necessarily have to fly to Costa Rica from all over the world, resulting in a high level of carbon emissions. This conversation represents a debate that has long been raging in the environmental community; we include it here in order to present the GSF's conceptual orientation, and to spur further conversation.</p>
					<hr>
					<p>Dear GSF Team,</p>
					<p>As far as I can tell from your website, the Global Fellowship Program in Costa Rica is a great learning opportunity for students across the globe.</p>
					<p>As a student in the field of sustainability studies, I might have fit pretty well into the program. But here I am writing you that I am explicitly not applying to your program. With due respect to your organizational effort, I don’t believe this program is actually working towards sustainability.</p>
					<p>Why? Students need to take a plane to get to Costa Rica, pretty much no matter where they live on the globe, so it takes our planet quite a few years to restore the damage inflicted on the atmosphere only due to the participation in your program.</p>
					<p>Please do not seduce students worldwide with fellowships and touristic resorts and nice theories and a certificate for their CVs – come up with local or digital programs that do not harm our environment by design and show that you actually know how systematic sustainable lifestyles look.</p>
					<p>Best regards from Germany,<br>
					Christoph Pfisterer<br>
					University of Konstanz</p>
					<hr>
					<p>Dear Christoph,</p>
					<p>Thank you very much for your thoughtful comments.</p>
					<p>You do have a point, and we agree that it is important to actively reduce adverse impacts on the planet by cutting down on unnecessary activities which increase harmful emissions.
					The point that you make (avoiding flying for meetings, conferences and the like) has been made repeatedly in recent years—in our view, somewhat naively. The implication of that view is a call for collapsing the human experience to local, entirely self sufficient pockets of 
					"sustainable" existence: local communities organized around local resources, local food production, dependency on local currencies, and the like.</p>
					<p>We feel, on the other hand, that the next challenge facing humanity is how to design-evolve a planetary civilization, integrating an enlightened global culture and a globally integrated physical infrastructure of metabolic support. The former would be based on universal human rights and deep respect for the integrity and well-being of other life forms and their habitats, while the latter would be conceived as one healthy eco-system that will continuously recycle imperishable chemical elements, emphasize high resource productivity, employ non-depletable, clean sources of energy, and ensure that the byproducts of any one process become the nourishing inputs to other productive processes. In other words, we envision planetary integration and movement of the world's people, materials, and energy, rather than fragmentation and isolation within local communities.</p>
					<p>To this end, we believe that the experience of otherness—other places, other people, other cultures, other ways of seeing the world, directly, rather than digitally—is a crucial pedagogic priority. It is a tool for developing deep understanding about the interconnectedness and specific nature of many of the issues that we face today, and for fostering a culture of universal compassion and tolerance.</p>
					<p>A complete disengagement from dependency on our current fossil fuel economy does not seem a viable option other than in isolated small-scale cases. Rather, a staged strategy for using the potential of the current to secure a smooth graduation to the next step in evolution appears, in our opinion, to be a more sound approach. In spite of your genuine concern, we imagine that you, too, may also find it difficult to cut off completely from dependency on processes, services and products which could still be associated with some measure of adverse impact.</p>
					<p>And yet, as we said, you do have a point. So what to do? We propose the following:</p>
					<ul>
						<li>We shall ask participants in the program to travel, to the extent possible, on airlines that have committed to "Eco-Skies" types of programs.</li>
						<li>We shall follow the late Ray Anderson and the practice adopted by his company, Interface, in planting trees for travel. According to Interface, an organization with a commitment to carbon offsets, a tree, in its lifetime, will sequester the carbon generated by 4,000 passenger miles travelled on a commercial jet. Accordingly, we shall plant a tree for every 4,000 miles travelled by participants in the program.</li>
						<li>Finally, we would like to post your message, along with this response, on the program's blog in order to encourage a conversation on the important question that you have raised.</li>
					</ul>
					<p>We look forward to hearing from you.</p>
					<p>Best,<br>
					Michael Ben-Eli and the GSF team</p>
					<hr>
					<p>Dear Michael Ben-Eli,<p>

					<p>Thank you very much for your in-depth response!</p>

					<p>I do realize that to actually allow a global consciousness on regulative ideas such as sustainability, peace, justice et cetera, we first need to get connected, and this is kind of difficult via Skype, and easier via real-life handshakes, talks and hugs. I basically agree on most of what you said. However, I remember the words of my history teacher, who said that every time people attempted to reach a goal with means that are not in harmony with the values represented by the goal, the attempt failed (classic examples like waging war to achieve peace, then causing more violence, are numerous). And if we are honest, there are ways to travel more eco-friendly, like ships, cars, etc. Planes are simply the best time-saving machines, a great symbol for both progress but also the machinization of the human scale of speed which outruns the scale of speed according to which planet Earth ticks and reproduces. I am hoping you and your students will find innovative solutions to questions like these in your seminar!</p>

					<p>I really like your ideas on how to "compensate" the miles traveled!</p>

					<p>I wish you, your teachers and all students of the GSFP an amazing time in Costa Rica!</p>
					
					<p>Best,<br>
					Christoph</p>