<footer id="mainfoot">
	<div class="row clearfix">
		<div class="one-quarter column">
			<h3>Explore Our Projects</h3>
			<ul>
				<li><a href="../projects.html#wadi-attir">Project Wadi Attir</a></li>
				<li><a href="../projects.html#gsf">Global Sustainability Fellowship</a></li>
				<li><a href="../projects.html#susprize">The Sustainability Prize</a></li>
			</ul>
		</div>
		<div class="one-quarter column">
			<h3>About The Lab</h3>
			<ul>
				<li><a href="../about.html#mission">What We Do</a></li>
				<li><a href="../about.html#founders">Our Founder</a></li>
				<li><a href="../about.html#team">Meet The Team</a></li>
			</ul>
		</div>
		<div class="one-quarter column">
			<h3>Around The Web</h3>
			<a href="https://twitter.com/TheLabNY" target="_blank"><i class="fa fa-twitter"></i></a>
			<i class="fa fa-facebook"></i>
			<i class="fa fa-instagram"></i>
			<a href="http://vimeo.com/sustainabilitylab" target="_blank"><i class="fa fa-vimeo-square"></i></a>
			<i class="fa fa-linkedin"></i>
			<div class="tweet">
				<p>The Sustainability Laboratory is on Twitter! New website coming soon! Stay tuned!<span class="timestamp"><a href="https://twitter.com/TheLabNY/status/484064480721375233" target="_blank">@TheLabNY - 1 Jul 2014</a></span></p>
			</div>
		</div>
		<div class="one-quarter column">
			<h3>Connect With Us</h3>
			<form action="/">
				<label for="email">Sign up for our newsletter</label>
				<input type="text" placeholder="email address" />
			</form>
			<ul><li><a href="../connect.html">Send us a message</a></li></ul>
		</div>
	</div>
</footer>