{% block content %} 		 
	<header class="page-header" id="approach">
		<div class="header-overlay"></div>
		<div class="row clearfix">
			<div class="column two-thirds">
				<h2>The Five Core<br>Principals</h2>
			</div>
			<div class="column one-quarter push-1">
				<nav class="floating-page-nav">
					<ul>
						<li><a href="#material">Material Domain</a></li>
						<li><a href="#economic">Economic Domain</a></li>
						<li><a href="#life">Domain of Life</a></li>
						<li><a href="#social">Social Domain</a></li>
						<li><a href="#spiritual">Spritiual Domain</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section class="page-content" id="core-principals">
		<div class="row clearfix">
			<div class="column two-thirds">
				<article class="scroll-target" id="intro">
					<h3>The Five Core Principles of Sustainability</h3>
					<p class="intro">An essential road map to developing model sustainability practices.</p>
					<p>The Five Core Principles are derived from The Lab's definition of sustainability; the five domains represent key dimensions of the underlying interaction.</p>

					</article>

					<article class="scroll-target" id="material">
						<h3>The Material Domain</h3>
						<img src="assets/img/5cp-1.png" width="15%">
						<p class="intro">Our current industrial economy is wasteful and hugely entropic in nature. It ought to be redesigned to secure a lasting advantage for all.</p>
						<p>Contain entropy and ensure that the flow of resources, through and within the economy, is as nearly non-declining as is permitted by physical laws.</p>
						<p>Examples of Policy and Operational Implications:
							<ul class="fa-ul">
								<li><i class="fa fa-check"></i> Strive for highest resource productivity</li> 
								<li><i class="fa fa-check"></i> Amplify performance with each cycle of use</li> 
								<li><i class="fa fa-check"></i> Continuously recycle non-regenerative resources</li>
								<li><i class="fa fa-check"></i> Affect an unbroken, closed-loop flow of matter and energy in a planetary infrastructure conceived as a whole</li>
								<li><i class="fa fa-check"></i> Control leakages and avoid stagnation, misplaced concentrations or random diffusion of chemical elements during cycles of use</li>
							</ul>
						</p>
					</article>
					
					<article class="scroll-target" id="economic">				
						<h3>The Economic Domain</h3>
						<img src="assets/img/5cp-2.png" width="15%">
						<p class="intro">The accounting framework presently used to guide our economy produces a grossly distorted view of the impacts of economic activity. It does not account for externalities, it is driven by a narrow concept of growth, and it even allows us to account for consumption as though it were income.</p>
						<p>To guide the economy, adopt an appropriate accounting system, fully aligned with the planet's ecological processes and reflecting true, comprehensive biospheric pricing.</p>
						<p>Examples of Policy and Operational Implications:
							<ul class="fa-ul">
								<li><i class="fa fa-check"></i> Employ a comprehensive concept of wealth related to the simultaneous enhancement of five key forms of capital: Natural, Human, Social, Manufactured and Financial</li> 
								<li><i class="fa fa-check"></i> Align the world's economy with nature's regeneration capacity and incorporate critical externalities in all cost and benefit accounts</li>
								<li><i class="fa fa-check"></i> Embody a measure of well-being and human development in economic calculations</li>
								<li><i class="fa fa-check"></i> Design regulation and taxation policies to accentuate desirable and eliminate adverse outcomes, optimizing the whole</li>
								<li><i class="fa fa-check"></i> Rely on market mechanisms, calibrated to reflect "true" costs, for allocation of capital assets</li>
							</ul>
						</p>
					</article>

					<article class="scroll-target" id="life">
						<h3>The Domain of Life</h3>
						<img src="assets/img/5cp-3.png" width="15%">
						<p class="intro">The adaptive success of our species comes at the expense of other forms of life-- from individual organisms, to species, to whole habitats. Science tells us that the very complexity of complex systems is the source of their resilience and long-term viability. Yet, at our own peril, we are reducing the richness of our planet’s complex fabric of life.</p>
						<p>Ensure that the essential diversity of all forms of life in the biosphere is maintained.</p>
						<p>Examples of Policy and Operational Implications:
							<ul class="fa-ul">
								<li><i class="fa fa-check"></i> Assume a responsible stewardship for our planet's web of biological diversity</li>
								<li><i class="fa fa-check"></i> Ensure that the essential diversity of all forms of life in the biosphere is maintained</li>
								<li><i class="fa fa-check"></i> Harvest species only to regeneration capacity</li>
								<li><i class="fa fa-check"></i> Conserve the variety of the existing gene pool</li>
								<li><i class="fa fa-check"></i> Shape land use patterns to reduce human encroachment on other forms of life and enhance biological diversity in areas of human habitat</li>
							</ul>
						</p>
					</article>

					<article class="scroll-target" id="social">
						<h3>The Social Domain</h3>
						<img src="assets/img/5cp-4.png" width="15%">
						<p class="intro">Social systems depend, ultimately, on their internal variety for robust viability and long-term health. This alone reinforces the still-fragile idea that open processes, responsive structures, plurality of expression, and the inalienable equality of all individuals should provide the cornerstone of social life.</p>
						<p>Maximize degrees of freedom and potential self-realization of all humans without any individual or group adversely affecting others.</p>
						<p>Examples of Policy and Operational Implications:
							<ul class="fa-ul">
								<li><i class="fa fa-check"></i> Foster tolerance as a cornerstone of social interactions</li>
								<li><i class="fa fa-check"></i> Enshrine universal rights within a framework of planetary citizenship</li>
								<li><i class="fa fa-check"></i> Provide for inclusion and effective democracy in governance</li> 
								<li><i class="fa fa-check"></i> Ensure equitable access to life nurturing resources</li> 
								<li><i class="fa fa-check"></i> Establish cooperation as a basis for managing global issues</li>
							</ul>
						</p>
					</article>

					<article class="scroll-target" id="spiritual">			
						<h3>The Spiritual or Values Domain</h3>
						<img src="assets/img/5cp-5.png" width="15%">
						<p class="intro">The human spirit has consistently sought to transcend apparent limitations: striving to encompass progressively more into its field of vision, and integrate an increasingly more comprehensive reality. The extent to which this drive is allowed to manifest affects the choices we make and the quality of our actions in the world.</p>
						<p>Recognize the seamless, dynamic continuum of mystery, wisdom, love, energy and matter, that links the outer reaches of the cosmos with our solar system, our planet and its biosphere, including all humans, with our internal metabolic systems and their externalized extensions. Embody this recognition in a universal ethics for guiding human actions.</p>
						<p>As a guiding principle, the spiritual dimension does not carry the connotation of conventional religion. Rather, it evokes the integration of mind and heart in realization of the essential oneness at the center of being.</p>
						<p>By anchoring the essence of human motivation and intention, the spiritual principle acts as the causal root, which sets the tone for the whole. It drives the integration of the other four principles, those related to the material, economic, life, and social domains. If integrated in a balanced way, it can infuse a common purpose, provide a common foundation, and stimulate common resolve. Lacking the ethical commitment implied by the spiritual principle, considerations of questions related to the four other domains, no matter how elaborately expressed, are reduced to mere technicalities.</p>
					</article>
					<article class="scroll-target" id="end">
						<p>Download the PDF to read more about the Five Core Principles<br><a class="button raised-button primary" style="margin-top:2.5em;" href="assets/img/SL5CorePrinciples.pdf" target="_blank">Download</a></p><br>
					</article>
					

					
				</div>		
			</div>
	</section>
{% endblock %}