{% block content %} 
	<header class="page-header" id="connect">
		<div class="header-overlay"></div>
		<div class="row clearfix">
			<div class="column two-thirds">
				<h2>Connect with The Lab</h2>
			</div>
			<div class="column one-quarter push-1">
				<nav class="floating-page-nav">
					<ul>
						<li><a href="#contactthelab">Contact The Lab</a></li>
						<li><a href="#support">Support The Lab</a></li>
					</ul>
				</nav>
				<!---->
			</div>
		</div>
	</header>
	<section class="page-content" style="position:relative;z-index:1;">
		<div class="row clearfix">
			<div class="column two-thirds">
				<article class="scroll-target" id="contactthelab">
					<h3>Contact The Lab</h3>
					<p>For general inquiries, please use the contact form below, or email The Lab's Director of Operations, <a href="#">Arielle Angel</a>, and she will get back to you within the week.</p>
					<div class="row clearfix">
						<div class="column one-half">
							<form action="index.html">
								<label for="name">Full Name</label>
								<input type="text" name="name">
								<label for="email">Email Address</label>
								<input type="email" name="email" placeholder="example@example.com">
								<label for="subject">Subject</label>
								<input type="text" name="subject">
								<label for="message">Message</label>
								<textarea name="message" id="" cols="30" rows="10"></textarea>
								<button class="button raised-button primary" type="submit">Send Message</button>
							</form>
						</div>
						<div class="column one-half">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3021.2890097306804!2d-73.95273999999999!3d40.77766!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258bb9c82d965%3A0x2f53f3dc81f6ddb9!2s229+E+85th+St%2C+New+York%2C+NY+10028!5e0!3m2!1sen!2sus!4v1405621937132" width="100%" height="250" frameborder="0" style="border:0;"></iframe>
							<p>The Sustainability Laboratory<br />
								229 East 85th Street<br />
								PO Box 1571<br />
								New York, NY 10028
							</p>
						</div>
					</div>
					<div class="row clearfix">
						<div class="column one-third">
							<div class="card">
								<div class="media-area">
									<h3>Project Wadi Attir</h3>
								</div>
								<p>For information on visiting Project Wadi Attir, becoming a supporter of the project, or becoming a project volunteer, please visit the Project's <a target="_blank" href="wadiattir.sustainabilitylaboratory.com/contact.html">Contact Page</a>.</p>
							</div>
						</div>
						<div class="column one-third">
							<div class="card">
								<div class="media-area">
									<h3>Global Sustainability Fellows</h3>
								</div>
								<p>If you are a prospective Global Sustainability Fellows student, or you are interested in becoming a lecturer, supporter or host of a summer session, please visit the <a target="_blank" href="gsf.sustainabilitylabs.org/contact.html">GSF Contact Page</a>.</p>
							</div>
						</div>
						<div class="column one-third">
							<div class="card">
								<div class="media-area">
									<h3>Sustainability Prize</h3>
								</div>
								<p>For general inquiries about The Sustainability Prize Program at EARTH University, or to sponsor a prize, please visit the Prize Program's <a target="_blank" href="earth.sustainabilitylabs.org/contact.html">Contact Page</a>.</p>
							</div>
						</div>
					</div>
				</article>
				<article class="scroll-target" id="support">
					<h3>Support the Lab</h3>
					<p>As a non-profit organization, The Sustainability Laboratory relies on contributions from individuals, corporations, and foundations to make our work in sustainability innovations possible. Gifts at every level make a difference and are 100% tax-deductible.</p>
					<h4>Donate Online</h4>
					<p>Online donations to The Sustainability Laboratory support our mission and ensure we have the resources needed to provide infrastructural support to our many projects, and to develop new projects which address key sustainability challenges in the world at large. Please select below to make a one-time donation or monthly gift.</p>
					<div class="call-out">
						<h4>Thank You for Your Support!</h4>
						<a class="button raised-button primary" href="#">One-time Donation</a><a class="button raised-button primary" href="#">Recurring Donation</a>
					</div>
					<h4 style="margin-top: 1.5em;">Write a Check</h4>
					<p>The Sustainability Laboratory<br />
						229 East 85th Street<br />
						PO Box 1571<br />
						New York, NY 10028
					</p>
					<h4>Wire Transfers</h4>
					For information on setting up a wire transfer, email <a href="mailto:arielle@sustainabilitylabs.org">arielle@sustainabilitylabs.org</a>.
				</article>
			</div>
		</div>
	</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="../assets/scripts/jquery.autosize.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('textarea').autosize();
});
</script>
{% endblock %}