{% block content %}
	<header class="page-header" id="about">
		<div class="header-overlay"></div>
		<div class="row clearfix">
			<div class="column two-thirds">
				<h2>Who We Are</h2>
			</div>
			<div class="column one-quarter push-1">
				<nav class="floating-page-nav">
					<ul>
						<li><a href="#founders">Founder</a></li>
						<li><a href="#team">The Team</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section class="page-content" id="team-content">
		<div class="row clearfix">
			<div class="column two-thirds">
				<article class="scroll-target clearfix" id="founders">
					<h3>The Lab's founder, Dr. Michael Ben-Eli</h3>
					<p class="intro">Prior to founding The Lab, Dr. Michael Ben-Eli worked as an international management consultant, pioneering applications of Systems Thinking and Cybernetics in management and organization. Over the years, he worked on synthesizing strategy issues in many parts of the world and in diverse institutional settings, ranging from small high technology firms to multinational enterprises, manufacturing companies, financial institutions, health care and educational organizations, government agencies, NGOs, and international multilateral organizations.</p>
					<img class="article-img-left" src="../assets/img/AboutMichael.jpg">
					<p>In recent years, he has focused primarily on issues related to sustainability and sustainable development. He is author of the widely acclaimed five core sustainability principles, and has been working to help inspire leaders in business, government, community, and youth accelerate a peaceful transition to a sustainable future.</p>
					<p>Dr. Ben Eli graduated from the Architectural Association in London and later received a Ph.D. from the Institute of Cybernetics at Brunel University, where he studied under Gordon Pask. He was a close associate of R. Buckminster Fuller, with whom he collaborated on research involving advanced structural systems, and issues related to the management of technology and world resources for the advantage of all.</p>
					<p>You can learn more about Dr. Ben-Eli on his dedicated <a href="../about.html.com">website</a>.</p>
					<div class="card card-right video-card clearfix">
						<div class="media-area video-media-area">
							<video style="width:14em;height:8.67em;background:#000;" controls> 
								<source src="../assets/img/michaelbio_about.mp4" type="video/mp4"></source>
								<source src="../assets/img/michaelbio_about.webm" type="video/webm"></source>
								<source src="../assets/img/michaelbio_about.ogv" type="video/ogg"></source>
							</video>
						</div>
						<p>Watch a short clip about Michael's first encounter with R. Buckminster Fuller, and Fuller's influence on Ben-Eli and on The Sustainability Laboratory.</p>
						<a class="button flat-button" href="#">Share</a><a class="button flat-button primary" href="../assets/img/michaelbio_about.mp4">Download</a>
					</div>					
				</article>
				<article class="scroll-target" id="team">
					<h3>Meet the <span class="inline-tabs"><a href="#team-tab" class="current-tab tab-link">Team</a> / <a href="#advisory-tab" class="tab-link">Advisory Board</a> / <a href="#board-tab" class="tab-link">Directors</a></h3>
					<div id="team-tab" class="tab-content active-tab">
					<div class="controls">
						<div id="team-filters">
							<fieldset>
								<label for="project">Filter by project:</label>
								<select name="project" id="">
									<option value="">All</option>
									<option value=".tsl">The Sustainability Laboratory</option>
									<option value=".gsf">Global Sustainability Fellows</option>
									<option value=".wa">Project Wadi Attir</option>
									<option value=".sp">Sustainability Prize</option>
									<option value=".ptm">Past Interns</option>
								</select>
							</fieldset>
						</div>
					</div>
					<div class="row clearfix" id="team-container">
						<div class="column one-quarter mix tsl sp gsf wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/Michael.jpg" alt="" />
								<a class="team-link" href="../bio.html">Michael Ben-Eli</a>
							</div>
							<div class="description">
								<h3>Michael Ben-Eli<br><small>Founder, The Sustainability Laboratory</small></h3>
								<p>Prior to founding The Lab, Dr. Michael Ben-Eli worked as an international management consultant, pioneering applications of Systems Thinking and Cybernetics in management and organization. Over the years, he worked on synthesizing strategy issues in many parts of the world and in diverse institutional settings, ranging from small high technology firms to multinational enterprises, manufacturing companies, financial institutions, health care and educational organizations, government agencies, NGOs, and international multilateral organizations.</p>
								<p>In recent years, he has focused primarily on issues related to sustainability and sustainable development. He is author of the widely acclaimed five core sustainability principles, and has been working to help inspire leaders in business, government, community, and youth accelerate a peaceful transition to a sustainable future.</p> 
								<p>Dr. Ben Eli graduated from the Architectural Association in London and later received a Ph.D. from the Institute of Cybernetics at Brunel University, where he studied under Gordon Pask. He was a close associate of R. Buckminster Fuller, with whom he collaborated on research involving advanced structural systems, and issues related to the management of technology and world resources for the advantage of all.</p>
							</div>
						</div>
						<div class="column one-quarter mix tsl" data-order="1">
							<div class="container">
								<img src="assets/img/team/Tom.jpg" alt="" />
								<a class="team-link" href="../bio.html">Tom McMackin</a>
							</div>
							<div class="description">
								<h3>Tom McMackin<br><small>CFO, The Sustainability Laboratory</small></h3>
								<p>Tom McMackin is a founding partner of two successful technology companies that have served the financial services industry over the last 20 years. The most recent, Open Information Systems (OIS), where he was Chairman and CEO, processed more than $300 billion in fixed income assets for global institutions on a daily basis. OIS pioneered the introduction of web-based technology to the commercial sector of several major financial institutions in the US and Europe. OIS?s technology platform has been used in other areas including by AIDS researchers at Yale, who applied the technology to gather and analyze patient data in the Philippines and Africa. Mr. McMackin holds an undergraduate degree from Boston College and an MBA from Columbia University with a dual major in Operations Research and Finance.</p>
							</div>
						</div>
						<div class="column one-quarter mix tsl wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/arielle.jpg" alt="" />
								<a class="team-link" href="../bio.html">Arielle Angel</a>
							</div>
							<div class="description">
								<h3>Arielle Angel<br><small>Director of Operations</small></h3>
								<p>Arielle Angel is an artist, writer, entrepreneur and environmentalist. She began her professional life as an administrator at two New York art non-profits, but complementary passions for travel and the arts drew her away from New York and into a variety of community-based initiatives, including a yearlong artist residency at a cultural center and urban renewal project in South Carolina, and a stint as a field worker with an Israeli INGO in Nepal called Tevel b'Tzedek, where she organized programming for Nepali women's groups during the day, and soaked up lectures on sustainable development at night. She strongly believes that we must act now to combat climate change and environmental collapse. To that end, she is thrilled to be working under Dr. Michael Ben-Eli on the many initiatives of The Sustainability Laboratory. Arielle holds a BS in Studio Art from NYU and an MFA in Fiction Writing from Columbia University.</p>
							</div>
						</div>
						<div class="column one-quarter mix tsl gsf" data-order="1">
							<div class="container">
								<img src="assets/img/team/leefrankel.jpg" alt="" />
								<a class="team-link" href="../bio.html">Lee Frankel-Goldwater</a>
							</div>
							<div class="description">
								<h3>Lee Frankel-Goldwater<br><small>Director of Education Technology</small></h3>
								<p>Lee Frankel-Goldwater is a professional environmental educator, writer, and social-good project developer, as well as a recent graduate of NYU's Environmental Conservation Education Master's program. Lee has also studied in Israel at the Center for Creative Ecology on Kibbutz Lotan, and at the Arava Institute for Environmental Studies. Currently, he is leading development of the Global Action Classroom, an Earth Child Institute initiative focused on global youth environmental cooperation, and helping to create the Global Sustainability Fellows, a Sustainability Laboratory program seeking to design a new, innovative international sustainability graduate program. Lee can also be found developing mobile applications for encouraging social action, working on mixed media video design, leading peace and environmental education workshops, and doing his best to live a life in harmony with the Earth.</p>
							</div>
						</div>
						<div class="column one-quarter mix tsl" data-order="1">
							<div class="container">
								<img src="assets/img/team/yamaisner.jpg" alt="" />
								<a class="team-link" href="../bio.html">Yam Aisner</a>
							</div>
							<div class="description">
								<h3>Yam Aisner<br><small>2014-2015 Intern</small></h3>
								<p>Yam Aisner currently works as a film and television editor in Israeli television. He brings to the task a strong desire to tell a story, especially those about humankind's relationship to the environment. In 2008, Yam finished a permaculture design course and attended a six-month "Green Internship" to practice "minimum footprint" sustainable living. As a filmmaker and a permaculture designer, his dream is to contribute to the evolution of a better society through research, documentation, development and implementation of sustainable concepts. As a Sustainability Lab Intern, Yam will be spearheading the documentation efforts at Project Wadi Attir.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/yonesnabari.jpg" alt="" />
								<a class="team-link" href="../bio.html">Yones Nabari</a>
							</div>
							<div class="description">
								<h3>Yones Nabari<br><small>Project Manager, Founding Member of Project Wadi Attir</small></h3>
								<p>Yones Nabari is a founding member of the Wadi Attir Cooperative and serves as Project Manager. He comes from a lineage of traditional herders spanning many generations and relocated to the village of Hura over 15 years ago. Yones, an innate entrepreneur, completed an intensive course in organic agriculture through the Ministry of Agriculture and is completing his degree in Public Management at the University of Ben Gurion of the Negev.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/ghadirhani.jpg" alt="" />
								<a class="team-link" href="../bio.html">Ghadir Hani</a>
							</div>
							<div class="description">
								<h3>Ghadir Hani<br><small>Executive Secretary, Founding Member of Project Wadi Attir</small></h3>
								<p>Ghadir Hani is a founding member of the Wadi Attir Cooperative, and serves as the project's lead administrator. She is in charge of communications with the project's many partners and stakeholders, and has taken on the formidable task of handling the large amounts of government paperwork associated with a project of this complexity. Ghadir is also working with NISPED, where she serves as the Coordinator of Women's Economic Empowerment Projects.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/mohammed.jpg" alt="" />
								<a class="team-link" href="../bio.html">Mohammed Alnabari</a>
							</div>
							<div class="description">
								<h3>Dr. Mohammed Alnabari<br><small>Mayor of the Hura, Founding Member and Co-Chairman of the Board of Project Wadi Attir</small></h3>
								<p>Dr. Mohammed Alnabari, Mayor of Hura, is a founding member of the Wadi Attir Cooperative. He has been the Mayor of the Bedouin Municipality of Hura since 2004. Along with Dr. Michael-Ben-Eli of The Sustainability Laboratory, he has directed development of the project. Mohammed has a Ph.D. in Organic Chemistry from Ben-Gurion University and brings with him extensive experience in the private sector, specifically in the pharmaceutical industry. He represents a new generation of leadership in the Bedouin community, and has been instrumental in developing relationships with various ministries within the Israeli government. As a scientist, public leader and visionary, his goal is to realize an innovative new model to improve the lives of Bedouins in the Negev.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/alialhawashla.jpg" alt="" />
								<a class="team-link" href="../bio.html">Ali Alhawashla</a>
							</div>
							<div class="description">
								<h3>Ali Alhawashla<br><small>Director of Medicinal Plants, Founding Member of Project Wadi Attir</small></h3>
								<p>Ali Alhawashla is regarded by the Bedouin community as a prominent expert on Negev medicinal plants and has devoted his life to studying their characteristics and usages. Ali also completed a training program in organic agriculture, and has been busy growing and preparing plants for transfer to the project site.
								</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/mariam.jpg" alt="" />
								<a class="team-link" href="../bio.html">Mariam Abu Rakayek</a>
							</div>
							<div class="description">
								<h3>Mariam Abu Rakayek<br><small>Director of Indigenous Vegetable, Founding Member of Project Wadi Attir</small></h3>
								<p>Mariam Abu Rakayek received a degree in Business Administration and Marketing in the UK and went on to successfully launch her own line of therapeutic skin care remedies, body care products, and supplements. She is one amongst a handful of Bedouin women entrepreneurs in the Negev, who are succeeding by virtue of their great courage and fortitude, despite an enormous number of cultural and economic obstacles.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/rawan.jpg" alt="" />
								<a class="team-link" href="../bio.html">Rawan Nabbari</a>
							</div>
							<div class="description">
								<h3>Rawan Nabbari<br><small>Director of Product Development, Founding Member of Project Wadi Attir</small></h3>
								<p>Rawan Nabbari is the newest and youngest member of the team. She coordinates research issues and data classification in the Medicinal Plants Initiative, and trains women in the Indigenous Vegetable Initiative. Rawan grew up in the town of Hura and graduated from the local high school. She was active in youth group activities and reached a leadership level. She is currently studying geography and environmental development at Ben Gurion University.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/shahde.jpg" alt="" />
								<a class="team-link" href="../bio.html">Shahde Abu Sbeit</a>
							</div>
							<div class="description">
								<h3>Shahde Abu Sbeit<br><small>Director of Educational Programming, Founding Member of Project Wadi Attir</small></h3>
								<p>Shahde Abu Sbeit is a graduate of the Tel Aviv-Yaffo Academic College and is certified in Education Management at the Kaye Academic College of Education. Shahde is a prominent Bedouin educator and former headmaster of the Mustakabal school - the school of the future - in the village of Abu Tiul. He recently retired after 35 years of educational leadership. Shahde, who has extensive background in raising sheep and goats, will oversee both the Educational Center and the Herding and Dairy Operation</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/naifa.jpg" alt="" />
								<a class="team-link" href="../bio.html">Naifa Alnabari</a>
							</div>
							<div class="description">
								<h3>Naifa Alnabari<br><small>Director of Women's Programming, Founding Member of Project Wadi Attir</small></h3>
								<p>Naifa Alnabari is a graduate of the David Yellin Academic College of Education in Jerusalem. After a 22-year career as a Hebrew teacher, Naifa joined as one of the first members of the Wadi Attir Project. For the last ten years, Naifa has served as head of the Council for the Advancement of Women in the Bedouin Sector and is active in community relations in the town of Hura. Naifa will coordinate the incorporation of women in the project's various aspects.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/aatef.jpg" alt="" />
								<a class="team-link" href="../bio.html">Aatef Abu Ajaj</a>
							</div>
							<div class="description">
								<h3>Aatef Abu Ajaj<br><small>CFO, Founding Member of Project Wadi Attir</small></h3>
								<p>Aatef Abu Ajaj serves as Director of Economic Empowerment Projects at the Negev Institute for Strategies of Peace and Development (NISPED). He is responsible for developing the cooperative structure of Project Wadi Attir. Aatef has examined various options, approaches and modalities for organizing an effective collective and is interfacing with the consultants working on the economic feasibility. A prolific activist for the empowerment of the Bedouin of the Negev, Aatef was recently awarded a tuition grant from the project's funds to enroll in the Executive Master in Public Policy program at Hebrew University in Jerusalem. He is the first Bedouin from the Negev to have been accepted into this prestigious program, and he recently graduated with distinction.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/ibrahim.jpg" alt="" />
								<a class="team-link" href="../bio.html">Ibrahim Alatrash</a>
							</div>
							<div class="description">
								<h3>Ibrahim Alatrash<br><small>Member of Herding Team, Founding Member of Project Wadi Attir</small></h3>
								<p>Ibrahim Alatrash is a traditional Bedouin sheepherder with a rich family history of herding dating back hundreds of years. Ibrahim dwells in a tent encampment in the unrecognized tribal settlement Al-Atrash, south of Beer Sheva, and is a leader of the Sheep Growers Association of the Unrecognized Villages. Ibrahim is an associate member of the Wadi Attir Cooperative.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/noor.jpg" alt="" />
								<a class="team-link" href="../bio.html">Noor Alnabari</a>
							</div>
							<div class="description">
								<h3>Noor Alnabari<br><small>Indigenous Vegetable Project Team</small></h3>
								<p>Noor Alnabari lives in Hura. She graduated high school in 2012, with a major in biology. She works on the Indigenous Vegetables Project, collecting and planting seeds, and caring for and harvesting the vegetables. She loves this work, and hopes to continue working with the project.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/Eti.jpg" alt="" />
								<a class="team-link" href="../bio.html">Eti Golan</a>
							</div>
							<div class="description">
								<h3>Eti Golan<br><small>Manager of the Medicinal Plants Initiative</small></h3>
								<p>Eti Golan is an accredited naturopath (ND) and clinical herbalist (HC.I), descended from a line of healers. She holds a BA in Behavioral Science from - Ben-Gurion University of the Negev. Eti specializes in natural healing with a focus on proper nutrition and the use of herbs. She has worked as an instructor and lecturer in health-promoting processes in various institutions, like "The Center for Neighborhood Sustainability", and in private homes. She has also developed a line of natural products, services, cosmetics and treatments called Shirat Haasavim, which has prepared her to assist in doing the same at Project Wadi Attir.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/frededen.jpg" alt="" />
								<a class="team-link" href="../bio.html">Fred Eden</a>
							</div>
							<div class="description">
								<h3>Fred Eden<br><small>Advisor, Business Development Team</small></h3>
								<p>Fred Eden completed his Bachelor's degree at the University of Wisconsin and his Master's degree at Derby University in Business Management, Marketing, and Entrepreneurship. Fred has worked extensively with retail, manufacturing, and distribution organizations in Israel, Europe, and the USA, while specializing in cross-cultural marketing. His basic focus has been in food, drink, and consumer products in both the retail and foodservice sectors. He is also a member of the Chicago- Israel Chamber of Commerce advisory board.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/shaizauderer.jpg" alt="" />
								<a class="team-link" href="../bio.html">Shai Zauderer</a>
							</div>
							<div class="description">
								<h3>Shai Zauderer<br><small>Graphic Designer, Business Development Team</small></h3>
								<p>Shai Zauderer is a graduate of the School of Visual Arts in New York City. Shai has held managerial positions in graphic design firms and advertising agencies in both the USA and Israel. He also teaches courses in media and design strategies, most recently at Ben Gurion University. Over his career, Shai has accumulated practical experience in print, multimedia, video, packaging, branding, and internet disciplines.</p>
							</div>
						</div>
						<!-- <div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/inbalshtivi.jpg" alt="" />
								<a class="team-link" href="../bio.html">Inbal Shtivi</a>
							</div>
							<div class="description">
								<p></p>
							</div>
						</div> -->
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/Stefan.jpg" alt="" />
								<a class="team-link" href="../bio.html">Stefan Leu</a>
							</div>
							<div class="description">
								<h3>Dr. Stefan Leu<br><small>BGU Research Scientist, Soil Enhancement</small></h3>
								<p>Stefan Leu is a staff scientist at the Jacob Blaustein Institutes for Desert Research at the Ben Gurion University of the Negev in Sede Boker, and the founder of Leu-Sella Environmental Development. He received his PhD in Biochemistry at The Institutes of Chemistry in Berne, Switzerland. His current research interests include global warming, afforestation and sustainable biosphere management; sustainable dryland management and medical plants; cell and molecular biology and biotechnology of microalgae for high value products and biofuels; sustainable biofuels production; and sustainability analyses of complex integrated agro-biological production systems, agroforestry and permaculture. With Leu Sella Envrionmental Development, he explores resource conserving agriculture, biodiversity assessment and soil improvement. He has published numerous papers, among them 'Desert Agriculture of the Negev Bedouin: Potential for Socio-Economic Development and Ecological Rehabilitation' (Management of Environmental Quality, 2009). At Project Wadi Attir, he works on the Soil Enhancement and Beekeeping Initiative.</p>
							</div>
						</div> 
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/amitgross.jpg" alt="" />
								<a class="team-link" href="../bio.html">Amit Gross</a>
							</div>
							<div class="description">
								<h3>Dr. Amit Gross<br><small>BGU Research Scientist, Bio-Gas and Wastewater</small></h3>
								<p>Dr. Amit Gross is an Associate Professor in the Department of Environmental Hydrology and Microbiology at the Zuckerberg Institute for Water Research (ZIWR), Jacob Blaustein Institutes for Desert Research (BIDR) at Ben-Gurion University of the Negev in Israel. His research interests include treatment and efficient use of marginal water, remediation techniques, and the environmental risks associated with contaminated water resources and sludge. His current academic activities include the use of greywater and wastewater for irrigation; the development of waste management practices for efficient reuse and minimization of environmental pollution; efficient use of saline water for aquaculture purposes; and treatment of aquaculture effluent in recirculated aquaculture systems. He is on the editorial board of Conference Papers in Agriculure and the Urban Water Journal, and is an Associate Editor of the Universal Journal of Microbiology and Biochemistry. He received his Bachelors at The Hebrew University of Jerusalem, with a major in Animal Sciences. He received his Masters and PhD at Auburn University, where he was part of the Agriculture Faculty.</p>
							</div>
						</div>	
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/isaacmeir.jpg" alt="" />
								<a class="team-link" href="../bio.html">Isaac Meir</a>
							</div>
							<div class="description">
								<h3>Dr. Isaac Meir<br><small>BGU Research Scientist, Green Building</small></h3>
								<p>Isaac A. Meir holds B.Arch.T.Pl. and M.Sc. degrees from the Technion, Israel Institute of Technology, and a Ph.D. from the Ben-Gurion University of the Negev. He joined the Blaustein Institutes for Desert Research in 1986. He is an Associate Professor and has been Chair of the Desert Architecture and Urban Planning (DAUP) Department, and the Department of Man in the Desert (MID) from 2005-2010. He has published over a hundred papers, reports, chapters in books and collective volumes, and lectures extensively in Israel and abroad, including at the AASA, London, the School of Architecture of the Oxford Brookes University, the School of Architecture of Aristotle University of Thessaloniki, and the International Hellenic University. He participates in the design of environmentally conscious and experimental projects, including private and public buildings and clusters in the Israeli deserts. He also acts as a consultant to various institutions, among them the Israeli Ministries of Construction and Housing, Energy and Water, Israeli Land Administration, and the Standards Institute of Israel, where he heads multidisciplinary teams focusing on green technologies and sustainable development. Awards include the Sheba Award for Desert Architecture (1988) and for Excelling Scientist (2006), the Dori Award for Technology (1992), and the Emilio Ambasz Award for Green Architecture (2011). Research interests include sustainable design in arid zones, Post Occupancy Evaluation (POE) and Indoor Environment Quality (IEQ), the microclimate of open spaces, and proactive contingency planning. In February of 2014, he was voted by an experts' panel as one of the 100 Israelis influential in the country's environmental policy (infrastructures and construction sector) for his research, outreach and educational activities, and involvement in promoting green sustainable architecture.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/shlomo.jpg" alt="" />
								<a class="team-link" href="../bio.html">Shlomo Kimchie</a>
							</div>
							<div class="description">
								<h3>Dr. Shlomo Kimchie<br><small>Environmental Engineer, Composting</small></h3>
								<p>Dr. Shlomo Kimchie is a consultant to Project Wadi Attir mainly in the fields of compostation and anaerobic digestion technologies. He studied for his doctorate degree in Environmental Engineering at the Technion, Haifa where he is now a senior lecturer on wastewater and solid waste treatment technologies. In the last 15 years, Dr. Kimchie has taught at Braude College for Engineering, Carmiel, on biological waste treatment technologies. He is also the R&amp;D Manager of the TAEQ (Towns Association for Environmental Quality) in the Regional Environmental Unit of Beit Netofa, where numerous projects on solid waste recycling, wastewater treatment and renewable energy applications are currently being conducted. Parallel to his academic duties, Dr. Kimchie runs a private office for environmental technology consulting. Among his customers are AIES (Arava Institute for Environmental Studies), the Ministry of Energy and Water, and many other municipalities, regional councils, engineering companies, agricultural farms and industrial plants.</p>
							</div>
						</div>
						<div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/oryogev.jpg" alt="" />
								<a class="team-link" href="../bio.html">Or Yogev</a>
							</div>
							<div class="description">
								<h3>Dr. Or Yogev<br><small>Founder and CEO of AugWind LTD, Solar and Wind Energy</small></h3>
								<p>Dr. Or Yogev is the founder and CEO of AugWind LTD. He received his PhD in Mechanical Engineering and Applied Mathematics from the California Institute of Technology (CalTech). His thesis was awarded the Centennial Prize for Best Mechanical Engineering Thesis. After completing his PhD program, Dr. Yogev joined eSolar. At eSoalr, he gained vast experience in many aspects of solar thermal technology, serving initially as the Senior Research Scientist and finally as the Director of the Analysis Group. Dr Yogev has published four journal papers and has three patents under his name. He is currently working on applying the AugWind concept to the energy needs of Project Wadi Attir.</p>
							</div>
						</div>
						<!-- <div class="column one-quarter mix wa" data-order="1">
							<div class="container">
								<img src="assets/img/team/isaacmeir.jpg" alt="" />
								<a class="team-link" href="../bio.html">Dani Columbus</a>
							</div>
							<div class="description">
								<h3>Dani Columbus<br><small>Irrigation System, Netafim</small></h3>
								<p></p>
							</div>
						</div> -->
							<div class="column one-quarter mix gsf" data-order="1">
							<div class="container">
								<img src="assets/img/team/Amadei.jpg" alt="" />
								<a class="team-link" href="../bio.html">Bernard Amadei</a>
							</div>
							<div class="description">
								<h3>Dr. Bernard Amadei<br><small>Faculty</small></h3>
								<p>Dr. Bernard Amadei is Professor of Civil Engineering at the University of Colorado at Boulder. He received his Ph.D. in 1982 from the University of California at Berkeley. Dr. Amadei holds the Mortenson Endowed Chair in Global Engineering and served as Faculty Director of the Mortenson Center in Engineering for Developing Communities from 2009-2012. He is also the Founding President of Engineers Without Borders USA, and the co-founder of the Engineers Without Borders International Network. Among other distinctions, Dr. Amadei is the 2007 co-recipient of the Heinz Award for the Environment; the recipient of the 2008 ENR Award of Excellence; an elected member of the U.S. National Academy of Engineering; and an elected Senior Knight-Ashoka Fellow. He holds three honorary doctoral degrees.</p>
							</div>
						</div>
						<div class="column one-quarter mix gsf" data-order="1">
							<div class="container">
								<img src="assets/img/team/markus.jpg" alt="" />
								<a class="team-link" href="../bio.html">Markus Schwaninger</a>
							</div>
							<div class="description">
								<h3>Dr. Markus Schwaninger<br><small>Faculty</small></h3>
								<p>Dr. Markus Schwaninger is Professor of Management at the University of St. Gallen, Switzerland. His research is focused on the management of complex dynamic systems. His methodological emphasis is on Organization Cybernetics and System Dynamics. Research projects to date have been related to organization intelligence, model-based management, the design, transformation and learning of organizations, and to systemic issues of sustainability. Schwaninger is also a director of the World Organization of Systems and Cybernetics.</p>
							</div>
						</div>
						<div class="column one-quarter mix gsf" data-order="1">
							<div class="container">
								<img src="assets/img/team/bksingh.jpg" alt="" />
								<a class="team-link" href="../bio.html">B. K. Singh</a>
							</div>
							<div class="description">
								<h3>Dr. B. K. Singh<br><small>Faculty</small></h3>
								<p>Dr. B. K. Singh is Professor of Soil Science at EARTH University. He obtained his M.Sc. in agro-chemistry from PFU, Moscow, and his Ph.D. from the Department of Soil and Water Science at The University of Florida, Gainesville. He has been working for EARTH University in Costa Rica since 1990. During this period, he has held different positions: Professor of Soil Science, EARTH University, 1990 - Present; Associate Professor in the Soil and Water Science Department at The University of Florida, 2005 - Present; and Project Coordinator of the Sustainable Agriculture and Natural Resource Management Project (SANREM), 1994-1999. He was principal investigator of the US Department of Energy (DOE)-funded EARTH University Foundation Biofuel Project, a multinational project on structure- based drug design for Chaga?s Disease, as well as the Lemelson Foundation-supported Hub and Spoke model to promote invention, innovation and entrepreneurship at academic institutions and rural communities.</p>
								<p>Professor Singh has been providing training and conducting international workshops in soil and plant nutrition for the past 20 years. He has developed, registered, and established an entrepreneurial base for over 20 products to improve soil and plant health, water treatment, and public sanitation. Dr. Singh is co-founder of Green Roots Consultants, a consulting firm dedicated to providing local solutions to global challenges in agriculture production, natural resource management, and human capacity enhancement. He has advised over 50 research theses in soil fertility, plant nutrition, and environmental health.</p>
							</div>
						</div>
						<div class="column one-quarter mix gsf" data-order="1">
							<div class="container">
								<img src="assets/img/team/analaura.jpg" alt="" />
								<a class="team-link" href="../bio.html">Ana Laura Dengo</a>
							</div>
							<div class="description">
								<h3>Dr. Ana Laura Dengo<br><small>Assitant Faculty</small></h3>
								<p>Dr. Ana Laura Dengo, nutritionist, obtained her B.S. from the University of Costa Rica (UCR), and her M.Sc. and Ph.D. from Virginia Tech. Ana Laura received the Pan-American Nutrition, Food Science and Technology Award (Young scientist category, USA region) in 2010 for her dissertation work focusing on obesity and arterial stiffness. She worked from 2010-2013 with the INCAP Comprehensive Center for the Prevention of Chronic Diseases as the project coordinator for a community-based intervention to lower the risk of cardiovascular diseases. Dr. Dengo has been linked with UCR since 2010 in various projects. She was associated with the School of Nutrition and the Central American Population Center, and continues to collaborate with the National Center for Science and Food Technology (CITA), the National Institute for Health Research (INISA), and the Department of Exercise Science at UCR. Dr. Dengo started working at EARTH University in April 2013 as a research assistant for a joint project between EARTH and the American University of Beirut titled "Feasibility study for a Global Master?s Program in Health and Sustainable Development."</p>
							</div>
						</div>
						<div class="column one-quarter mix gsf" data-order="1">
							<div class="container">
								<img src="assets/img/team/jholenny.jpg" alt="" />
								<a class="team-link" href="../bio.html">Jholenny C&oacute;rdoba</a>
							</div>
							<div class="description">
								<h3>Jholenny C&oacute;rdoba<br><small>Assitant Faculty</small></h3>
								<p>Jholenny C&oacute;rdoba Chaves completed her undergraduate studies in Economics and Social Planning at the National University of Costa Rica, and her M.Sc. in Social Development at Universidad Libre de Costa Rica. For the last six years, Jholenny has coordinated the academic program at EARTH University's La Flor campus. She has ample experience working with rural, marginalized, and border communities in association with various institutions that focus on training, environmental protection, and youth development, including the National Learning Institute (INA), the Ministry of the Environment, World Vision, and Fondo de Canje de Deuda Costa Rica-Canada.</p>
							</div>
						</div>
						<div class="column one-quarter mix sp" data-order="1">
							<div class="container">
								<img src="assets/img/team/Irene.jpg" alt="" />
								<a class="team-link" href="../bio.html">Irene Alvarado Van der Laat</a>
							</div>
							<div class="description">
								<h3>Irene Alvarado Van der Laat</h3>
								<p>Irene Alvarado Van der Laat graduated as an agriculture engineer from the University of Costa Rica. She received an MBA in Business Administration with a focus in Agro-Marketing from the Technological Institute Costa Rica and a Ph.D. from the Universidad Latina in Economical and Entrepreneurial Sciences.</p>
								<p>Irene became part of the EARTH University team in 1992, where she worked as an Academic Program Administrator and then as the Director of Marketing for EARTH University's Products Program. In 2000, she became a full-time faculty member in the University's Entrepreneurial Projects Program, where she is now a director and lead coordinator.</p>
								<p>In 2001, she founded the Young Entrepreneurs Club, and shortly thereafter was selected to represent Costa Rica at the US Department of State's Environmental Protection and Sustainable Development Program. She is the recipient of the Best Investigation Prize at the VII International Entrepreneur Congress in El Salvador (2004), the Galpin Fellowship from Quinnipiac University in Connecticut (2010), and the highest prize from the Literati Network Awards for Excellence for her investigation on entrepreneurship (2011).</p>
								<p>Today, Professor Alvarado focuses her time researching environmental economics projects, sustainable value chains of agricultural products, and the promotion of entrepreneurship habits and disciplines to create a more just society.</p>
							</div>
						</div>
						<!-- <div class="column one-quarter mix sp" data-order="1">
							<div class="container">
								<img src="assets/img/team/isaacmeir.jpg" alt="" />
								<a class="team-link" href="../bio.html">Jane Yeomans</a>
							</div>
							<div class="description">
								<h3>Jane Yeomans<br><small>Advisor on Graduate Projects</small></h3>
								<p></p>
							</div>
						</div> -->
						<div class="column one-quarter mix ptm" data-order="1">
							<div class="container">
								<img src="assets/img/team/Ben.jpg" alt="" />
								<a class="team-link" href="../bio.html">Ben Bosker</a>
							</div>
							<div class="description">
								<h3>Ben Bosker<br><small>2009 Intern, The Sustainability Laboratory</small></h3>
								<p>Ben Bokser, a New York City native, is The Sustainability Laboratory's first summer intern. He is a 2009 graduate of Yale University with a degree in Ethics, Politics, and Economics. Much of his college work related to issues of poverty reduction and the environment from the wide perspective provided by his interdisciplinary major. His thesis researched ethical restaurant certification in Israel. Following the fall 2008 semester spent volunteering and studying in Nepal, Ben has also developed an interest in sustainable agriculture, the focus of The Sustainability Laboratory's Project Wadi Attir. Ben will be developing this interest in a hands-on way in fall 2009 in an apprenticeship program in an ecological farm in Israel.</p>
							</div>
						</div>
						<div class="column one-quarter mix ptm" data-order="1">
							<div class="container">
								<img src="assets/img/team/Tashi.jpg" alt="" />
								<a class="team-link" href="../bio.html">Tashi Dorjir</a>
							</div>
							<div class="description">
								<h3>Tashi Dorji<br><small>2010 Intern, The Sustainability Laboratory</small></h3>
								<p>Tashi Dorji, a native of Bhutan, graduated with a Masters degree in International Affairs in December 2009 from the School of International and Public Affairs at Columbia University. He worked in the Ministry of Foreign Affairs of Bhutan as a protocol officer before coming to Columbia University with a scholarship from Elysium Foundation in Switzerland. Inspired by the philosophy of Gross National Happiness, initiated by His Majesty the fourth king of Bhutan, where happiness of people is made the guiding goal for development in his country, and also by the work of Dr. Michael Ben Eli and The Sustainability Laboratory, Tashi decided to intern for The Lab, upon his return to Bhutan. He will be working on how the five domains of the sustainability framework can be implemented in the tiny Kingdom of Bhutan where sustainability of its environment and culture is given a high priority.</p>
								<p>UPDATE: Tashi is now a National Council Member representing Wangdue Phodrang Dzongkhag in Bhutan. He continues to work with Dr. Ben-Eli on the development of an <a href="#">Alpine Center for Sustainability in Bhutan</a></p>
							</div>
						</div>
						<div class="column one-quarter mix ptm" data-order="1">
							<div class="container">
								<img src="assets/img/team/GraceKaya.jpg" alt="" />
								<a class="team-link" href="../bio.html">Grace Kaya</a>
							</div>
							<div class="description">
								<h3>Grace Kaya<br><small>2011 Intern, The Sustainability Laboratory</small></h3>
								<p>As a multi-sensory improvisational artist, with over 16 years of performing andteaching experience, Grace Kaya is the founder of blesSINGS &amp; abunDANCE; a multi-disciplinary company which focuses on creating authentic, unique and soulful art, workshops and performances for students of all ages. After spending some time at the German eco-village Sieben Linden, she was inspired to expand her interest in the sustainability movement. Recognizing the undeniable connection between one's inner world and outer world, Grace Kaya offers modes of teaching greater awareness, responsibility and commitment to living well with the earth using innovative, engaging, and creative facilitation styles. She recently completed the Gaia Eco-Design Training of Trainers program at Findhorn, Scotland's renowned eco-village and education center, and wrote an essay that related her experience there to the Lab's Five Core Principles of Sustainability. Working with The Sustainability Laboratory, she will develop a dance expression of the Five Core Principles for young children.</p>
							</div>
						</div>
						<div class="column one-quarter mix ptm" data-order="1">
							<div class="container">
								<img src="assets/img/team/Lisa.jpg" alt="" />
								<a class="team-link" href="../bio.html">Lisa Lee Benjamin</a>
							</div>
							<div class="description">
								<h3>Lisa Lee Benjamin<br><small>2012 Intern, The Sustainability Laboratory</small></h3>
								<p>As Principal of EvoCatalyst, an environmental design and consulting firm based in San Francisco, Lisa Lee Benjamin is profoundly dedicated to altering the way we live and transforming passion into action. Lisa has led and consulted on a range of projects from California to Kenya. Her clients range from city dwellers and local ranchers to NGOs and companies like Whole Foods. With each project, she endeavors to combine art, ecology, and agriculture in ways that can be easily implemented and that seamlessly integrate humans, their structures and their environment. At The Lab, Lisa will be developing curriculum for young students based on Michael Ben-Eli's Sustainability Principles.</p>
							</div>
						</div>
						<div class="column one-quarter mix ptm" data-order="1">
							<div class="container">
								<img src="assets/img/team/Ellen.JPG" alt="" />
								<a class="team-link" href="../bio.html">Ellen Goettsch</a>
							</div>
							<div class="description">
								<h3>Ellen Goettsch<br><small>2013 Intern, The Sustainability Laboratory</small></h3>
								<p>Ellen Goettsch is a graduate of Iowa State with a Bachelors Degree in Mechanical Engineering. During her time at Iowa State, Ellen designed and built a grain grinder, and upon completion, she went to Mali, Africa to monitor the implementation of the tool. Ellen is currently pursuing her Masters in Mechanical Engineering at the University of Colorado Boulder. At UC Boulder, Ellen is a part of the Mortenson Center in Engineering for Developing Communities, and has spent the last year working on an energy behavioral change communication plan. During her internship, she will be developing a framework for a long-term evaluation plan for Project Wadi Attir in conjunction with the Arava Institute for Environmental Studies.</p>
							</div>
						</div>
						<div class="column one-quarter mix ptm" data-order="1">
							<div class="container">
								<img src="assets/img/team/leefrankel.jpg" alt="" />
								<a class="team-link" href="../bio.html">Lee Frankel-Goldwater</a>
							</div>
							<div class="description">
								<h3>Lee Frankel-Goldwater<br><small>Director of Education Technology</small></h3>
								<p>Lee Frankel-Goldwater is a professional environmental educator, writer, and social-good project developer, as well as a recent graduate of NYU's Environmental Conservation Education Master's program. Lee has also studied in Israel at the Center for Creative Ecology on Kibbutz Lotan, and at the Arava Institute for Environmental Studies. Currently, he is leading development of the Global Action Classroom, an Earth Child Institute initiative focused on global youth environmental cooperation, and helping to create the Global Sustainability Fellows, a Sustainability Laboratory program seeking to design a new, innovative international sustainability graduate program. Lee can also be found developing mobile applications for encouraging social action, working on mixed media video design, leading peace and environmental education workshops, and doing his best to live a life in harmony with the Earth.</p>
							</div>
						</div>
						<div class="column one-quarter mix ptm" data-order="1">
							<div class="container">
								<img src="assets/img/team/yonesnabari.jpg" alt="" />
								<a class="team-link" href="../bio.html">Yones Nabari</a>
							</div>
							<div class="description">
								<h3>Yones Nabari<br><small>Project Manager, Founding Member of Project Wadi Attir</small></h3>
								<p>Yones Nabari is a founding member of the Wadi Attir Cooperative and serves as Project Manager. He comes from a lineage of traditional herders spanning many generations and relocated to the village of Hura over 15 years ago. Yones, an innate entrepreneur, completed an intensive course in organic agriculture through the Ministry of Agriculture and is completing his degree in Public Management at the University of Ben Gurion of the Negev.</p>
							</div>
						</div>
					</div>
				</div>
					<div id="advisory-tab" class="tab-content">
						<div class="row clearfix" id="adv-board-container">
							<div class="column one-quarter open" data-order="1">
								<div class="container">
									<img src="assets/img/team/Bruce.jpg" alt="" />
									<a class="team-link" href="../bio.html">Bruce Schearer</a>
								</div>
								<div class="description">
									<h3>Bruce Schearer</h3>
									<p>S. Bruce Schearer, a civic leader, former non-profit executive and expert in international development and philanthropy, has led efforts to build partnerships between government, civil society and private sector groups to address poverty, development and environmental challenges in over 30 countries in Africa, Asia and Latin America. As President of The Synergos Institute, he co-founded the Global Philanthropists Circle, establishing it to become what Business Week described as a new model of giving that links some of the world's wealthiest families. He has advised the United Nations Development Program, Millennium Promise, the Magis system of Jesuit educational organizations in Latin America and other groups on strategy, programs and institutional development. He has worked with Joseph Jaworski and Otto Scharmer on large-scale change processes and with Deepak Chopra and the Alliance for a New Humanity on linking inner personal change to outer change in the world. Mr. Schearer is the author of books, policy papers and articles. He is an honors graduate of Lafayette College and earned his PhD in biochemistry from Columbia University, where he was also an International Fellow at the School of International and Public Affairs. He serves as a lifetime member of the Council on Foreign Relations.</p>
								</div>
							</div>
							<div class="column one-quarter" data-order="1">
								<div class="container">
									<img src="assets/img/team/Peter.jpg" alt="" />
									<a class="team-link" href="../bio.html">Peter Dean</a>
								</div>
								<div class="description">
									<h3>Peter Dean</h3>
									<p>Peter Dean holds a BFA in Architecture from the Rhode Island School of Design and an MFA from Boston University Program in Artisanry. He has bees a furniture designer/craftsman for 28 years, designing and building one-of-a-kind and limited edition pieces for the residential and corporate markets. His work is held in numerous private and museum collections. Mr. Dean has completed numerous residential architectural projects as well as several product design commissions. Prior to attending RISD, Peter was an environmental science major in college. After attending RISD, Peter did two years of graduate study in Psychology and Theology at the University of Notre Dame.</p>
									<p>For the last sixteen years, Peter has worked as a Senior Critic/Teacher in the Department of Furniture Design at the Rhode Island School of Design where he has taught the Sophomore Studio Curriculum, the Senior Degree Project/Thesis, and Sustainability: Green Materials and Green Behavior, exploring the designer's responsibility to this important issue. Immersed in the Strategic Planning process for RISD over the past three years and working with a few colleagues, Peter has developed a curriculum on sustainability for the whole school. This is in the form of a concentration entitled, 'Nature/Culture/Sustainability' and was inaugurated in the fall of 2012. Peter has designed and will teach the core course for this concentration. Peter has also developed an R. Buckminster Fuller Biennial Design Science Symposium in collaboration with the Edna Lawrence Nature Lab at RISD and The Synergetics Collaborative.</p>
									<p>Mr. Dean is also a board Member of The Marion Institute. This is a charitable organization devoted to making positive and lasting change in the world. Peter has been instrumental in developing the Sustainability Education Initiative as well as the Las Gaviotas Carbon Offset Initiative, which the UN has declared to be the model for third world rural development. So far, the team at Las Gaviotas has planted 20,000 acres of fully canopied poly-culture rainforest with another 10,000 acres to go. Peter has also worked with Las Gaviotas to market the technological innovations developed at Las Gaviotas to other third world rural areas that are contemplating development in a sustainable manner.</p>
								</div>
							</div>
								<div class="column one-quarter" data-order="1">
								<div class="container">
									<img src="assets/img/team/Richard.jpg" alt="" />
									<a class="team-link" href="../bio.html">Richard Zimmerman</a>
								</div>
								<div class="description">
									<h3>Richard Zimmerman</h3>
									<p>Richard Zimmerman is a Senior Vice President, Relationship Manager for HSBC Private Bank in New York. He works with wealthy families in the U.S. and internationally. Richard has also held senior positions in Private Wealth Management at Bessemer Trust, Bank of America and J.P. Morgan.</p>
									<p>Richard has a passionate interest in how we can utilize wealth in more conscious, sustainable and transformative ways in the world today. He has served in strategic roles for a number of organizations in the area of transformational finance, impact grant making, AIDS and child advocacy.</p>
									<p>He is a Board Director of The Capital Institute, whose mission is to explore and effect economic transition to a more just, resilient and sustainable way of living through the transformation of finance. He is on the Core Development Team for The Sustainability Laboratories and its Global Sustainability Fellows Program. He has served as a Board Advisor to Start Fund, an impact grant fund that co-funds social business initiatives globally. He is a published author of What Can I Do to Make a Difference (Penguin Books USA), a guide to issues of sustainability and individual actions to make positive change.</p>
									<p>Richard is a Columbia University M.S in Sustainability Management candidate, a Sustainable Investment Professional Certification (SIPC) program candidate, and a graduate from University of Virginia with a BA in English Literature. Richard also has a background in personal development, meditation and Yoga. He is a Consciousness Coach and is certified by the Institute for Professional Excellence in Coaching (IPEC). He lives in New York City with his two teenage children.</p>
								</div>
							</div>
							<div class="column one-quarter" data-order="1">
								<div class="container">
									<img src="assets/img/team/Gabriela.jpg" alt="" />
									<a class="team-link" href="../bio.html">Gabriela Sperl</a>
								</div>
								<div class="description">
									<h3>Gabriela Sperl</h3>
									<p>Gabriela Sperl, Ph.D, producer, author, historian, is member of the Hochschulrat at the Munich Film School and serves on the advisory Board of the Munich Research center for Ethics, at the Ludwig Maximilians University in Munich, headed by Prof. Julian Nida-R&uuml;melin. Gabriela believes that compelling and entertaining films about history, social and political issues can make a huge impact on people. Good stories well told, can open eyes and hearts and ultimately make a difference - they can create awareness, help us see the world differently, and make it a better place.</p>
									<p>Gabriela studied History, Political Science and Languages (BA and MA) and obtained her doctorate under Professor Thomas Nipperdey, a renowned German historian. She was lecturer and assistant professor at the Ludwig-Maximilians University in Munich at the age of 25.</p>
									<p>In 1982, she gave up her university career and started to work freelance for production companies and TV stations, as a dramatic advisor and script consultant. She was one of the teachers of the Berliner Drehbuchwerkstatt (School for Screenwriting), gave lectures at the Berlin Film School DFFB, and has been teaching at the Munich Drehbuchwerkstatt for many years. Throughout her teaching career, her aim has been to encourage young talented people to develop their own ideas and write stories that come straight from the heart and thereby influence audiences and markets.</p> 
									<p>In 1998, Gabriela was appointed Head of the Drama, Fiction and Documentary Department at the Bayerischer Rundfunk/ARD, where she worked until 2002. During that time she was responsible for many award-winning theatrical and TV productions, most of which centered on socio-political issues.</p>
									<p>In January 2003, Gabriela Sperl left the Bayerischer Rund-funk/ARD in order to concentrate her energies on writing and producing. Together with teamWorx she produced, among other films, the award-winning historical event film "Stauffenberg" (director: Jo Baier) which inspired Tom Cruise to create "Valkyrie." In 2007 she produced and wrote the ARD event "Die Flucht" (director: Kai Wessel). This film, starring Maria Furtw&auml;ngler, about the flight of millions from East Prussia at the end of WW II had 14 million viewers in Germany and Austria and was the most successful fiction production of the ARD in the last 20 years.</p>
									<p>Her productions have brought her numerous awards, including several Grimme Awards; the Goldene Kamera; the Bambi; the CIVIS Medienpreis; the Deutscher Fernsehpreis; the Baden-Badener Fernsehpreis;, the Karl-Buchrucker-Preis; the 3-Sat Zuschauerpreis; the Shanghai Festival Award; the DIVA Award; the Nymphe d'Or at the International TV Festival in Monte Carlo; and the Deutscher Filmpreis. Her Latest films address harsh global, social and human issues, and reflect the last decades of German and European history, addressing controversial and often highly emotional issues.</p>
								</div>
							</div>
							<div class="column one-quarter" data-order="1">
								<div class="container">
									<img src="assets/img/team/Matthias.JPG" alt="" />
									<a class="team-link" href="../bio.html">Matthias Bittner</a>
								</div>
								<div class="description">
									<h3>Matthias Bittner</h3>
									<p>Matthias Bittner is an experienced strategic consultant and financial advisor. He was instrumental in gestation and implementation of several fundamental &strategic moves, IPOs as well as financing and M&A transactions with leading automotive, chemical and industrial companies like VW, Daimler Trucks, Wacker, Continental as well as the 2009 Opel discussion in Germany. He has been a Senior Advisor to Morgan Stanley, a Partner at McKinsey & Comp. and a Vice President at Bain & Co. He is currently a Board Member of several automotive suppliers. Matthias Bittner holds an Economics degree (Diplom-Volkswirt) from the Mainz University and a French Baccalaureat Mathematiques.</p>
								</div>
							</div>
							<div class="column one-quarter" data-order="1">
								<div class="container">
									<img src="assets/img/team/Irene.jpg" alt="" />
									<a class="team-link" href="../bio.html">Irene Alvarado Van der Laat</a>
								</div>
								<div class="description">
									<h3>Irene Alvarado Van der Laat</h3>
									<p>Irene Alvarado Van der Laat graduated as an agriculture engineer from the University of Costa Rica. She received an MBA in Business Administration with a focus in Agro-Marketing from the Technological Institute Costa Rica and a Ph.D. from the Universidad Latina in Economical and Entrepreneurial Sciences.</p>
									<p>Irene became part of the EARTH University team in 1992, where she worked as an Academic Program Administrator and then as the Director of Marketing for EARTH University's Products Program. In 2000, she became a full-time faculty member in the University's Entrepreneurial Projects Program, where she is now a director and lead coordinator.</p>
									<p>In 2001, she founded the Young Entrepreneurs Club, and shortly thereafter was selected to represent Costa Rica at the US Department of State's Environmental Protection and Sustainable Development Program. She is the recipient of the Best Investigation Prize at the VII International Entrepreneur Congress in El Salvador (2004), the Galpin Fellowship from Quinnipiac University in Connecticut (2010), and the highest prize from the Literati Network Awards for Excellence for her investigation on entrepreneurship (2011).</p>
									<p>Today, Professor Alvarado focuses her time researching environmental economics projects, sustainable value chains of agricultural products, and the promotion of entrepreneurship habits and disciplines to create a more just society.</p>
								</div>
							</div>
								<div class="column one-quarter" data-order="1">
								<div class="container">
									<img src="assets/img/team/Amadei.jpg" alt="" />
									<a class="team-link" href="../bio.html">Bernard Amadei</a>
								</div>
								<div class="description">
									<h3>Dr. Bernard Amadei</h3>
									<p>Dr. Bernard Amadei is Professor of Civil Engineering at the University of Colorado at Boulder. He received his Ph.D. in 1982 from the University of California at Berkeley. Dr. Amadei holds the Mortenson Endowed Chair in Global Engineering and served as Faculty Director of the Mortenson Center in Engineering for Developing Communities from 2009-2012. He is also the Founding President of Engineers Without Borders - USA, and the co-founder of the Engineers Without Borders International Network. Among other distinctions, Dr. Amadei is the 2007 co-recipient of the Heinz Award for the Environment; the recipient of the 2008 ENR Award of Excellence; an elected member of the U.S. National Academy of Engineering; and an elected Senior Knight-Ashoka Fellow. He holds three honorary doctoral degrees.</p>
								</div>
							</div>
						</div>
					</div>
					<div id="board-tab" class="tab-content">
						<div class="row clearfix" id="board-container">
							<div class="column one-quarter open" data-order="1">
								<div class="container">
									<img src="assets/img/team/Michael.jpg" alt="" />
									<a class="team-link" href="../bio.html">Michael Ben-Eli</a>
								</div>
								<div class="description">
									<h3>Michael Ben-Eli<br><small>Founder, The Sustainability Laboratory</small></h3>
									<p>Prior to founding The Lab, Dr. Michael Ben-Eli worked as an international management consultant, pioneering applications of Systems Thinking and Cybernetics in management and organization. Over the years, he worked on synthesizing strategy issues in many parts of the world and in diverse institutional settings, ranging from small high technology firms to multinational enterprises, manufacturing companies, financial institutions, health care and educational organizations, government agencies, NGOs, and international multilateral organizations.</p>
									<p>In recent years, he has focused primarily on issues related to sustainability and sustainable development. He is author of the widely acclaimed five core sustainability principles, and has been working to help inspire leaders in business, government, community, and youth accelerate a peaceful transition to a sustainable future.</p> 
									<p>Dr. Ben Eli graduated from the Architectural Association in London and later received a Ph.D. from the Institute of Cybernetics at Brunel University, where he studied under Gordon Pask. He was a close associate of R. Buckminster Fuller, with whom he collaborated on research involving advanced structural systems, and issues related to the management of technology and world resources for the advantage of all.</p>
								</div>
							</div>
							<div class="column one-quarter" data-order="1">
								<div class="container">
									<img src="assets/img/team/Joshua.jpg" alt="" />
									<a class="team-link" href="../bio.html">Joshua Arnow</a>
								</div>
								<div class="description">
									<h3>Joshua Arnow<br><small>Board of Directors, The Sustainability Laboratory</small></h3>
									<p>Joshua Arnow's interest in sustainability goes back over 30 years, but it deepened dramatically when he first saw Buckminster Fuller speak in 1976. A summer internship in Fuller's office inspired him to research the field of solar energy, and in his early 20s he built and sold one of the first all-passive solar homes in New York?s Westchester County. Soon after, Joshua joined his family's business where he worked in real estate development, construction and management for the next two decades. For the last 14 years, he has helped build and oversee a variety of financial investment strategies utilizing over 60 investment managers and covering a wide variety of asset classes.</p>
									<p>As a longtime student of planetary trends and an experienced project leader, Joshua has been actively engaged in supporting innovative research, ventures and not-for-profit initiatives that advance humanity's transition to sustainability. He served on the Board of the Buckminster Fuller Institute for 22 years and as its president for six years, and currently serves on two other not-for-profit boards: The EARTH University Foundation and The Worldlink Foundation. Joshua also serves as an advisor to the Buckminster Fuller Challenge, a $100,000 annual prize program whose purpose is to support the development and implementation of strategies with significant potential to solve humanity's most pressing problems. He is an active volunteer in his local community, and is currently working on converting a 1920s house into an 'off-the-grid' land steward's home for a local land conservancy. He lives in Pound Ridge New York with his wife Elyse and three children.</p>
								</div>
							</div>
							<div class="column one-quarter" data-order="1">
								<div class="container">
									<img src="assets/img/team/MichaelG.jpg" alt="" />
									<a class="team-link" href="../bio.html">Michael Gukovsky</a>
								</div>
								<div class="description">
									<h3>Michael Gukovsky<br><small>Board of Directors, The Sustainability Laboratory</small></h3>
									<p>Michael Gucovsky is a distinguished development economist with thirty years of extensive worldwide experience in Asia, Africa, the Middle East, Eastern Europe and Latin America. His experience includes development and management of projects, financing for sustainable development, public-private partnerships, the environment, community-based initiatives, conflict resolution and peace-building.</p>
									<p>During his professional career, Michael has been involved with pre-feasibility and feasibility studies of large infrastructure projects, including some in partnership with the World Bank, the Inter-American Development Bank, the Central American Bank for Economic Integration, the Global Infrastructure Foundation of Japan, and the Japanese Institute of Global Environmental Strategies.</p>
									<p>Over the years, his work focused on issues related to trade, water resources, energy, transportation, inland navigation, and river basin development including hydroelectric power development. Michael served as manager of UNDP Operations in Latin America and the Caribbean, and later as Senior Advisor to the Administrator of the UNDP. He was UNDP's lead negotiator in establishing the Global Environment Facility (GEF) and co-managed it with the World Bank and UNEP in the initial operational phase. He subsequently served as the UNDP Executive Coordinator of the GEF.</p>
									<p>From 1992-93, Michael served as Deputy Special Representative of the Secretary General of the United Nations and Deputy Chief of Mission in El Salvador (ONUSAL). His responsibilities included facilitating conflict resolution, and implementation of the social, economic, land transfer and electoral supervision of the Chapultepec Peace Accords. He was an active participant at the Rio Earth Summit and subsequently led the UNDP delegations to the first Conferences of the Parties for the Biodiversity and Climate Change conventions in the Bahamas (1994), and Berlin (1995), respectively. He was also an active participant in the preparations and the deliberations of the Johannesburg Earth Summit in 2002.</p>
									<p>Michael holds a B.S. degree from Colorado State, and an M.S. from Yale University, and has done post-graduate work at the University of California in Berkeley.? He is a member of South North Initiatives where he has served as President and is currently a member of the Board of Directors. He serves on the Board of Directors of AMEGA, and is a founding member of Sustainable Development Advisors (SDA), a firm providing consulting services in public/private partnerships, climate change, renewable energy and transportation. He has been involved with The Sustainability Laboratory since its early inception.</p>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
	<div class="overlay">
		<div class="modal"></div>
		<a href="#" class="close-modal"><i class="fa fa-times"></i></a>
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ "jquery.mixitup.min.js" | asset_url }}"></script>
<script type="text/javascript" src="{{ "filterteams.min.js" | asset_url }}"></script>
<script type="text/javascript" src="{{ "jquery.tinycarousel.min.js" | asset_url }}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#cp-slider').tinycarousel();
	});
</script>
{% endblock %}